<cbc-horizontal-loader *ngIf="loading"></cbc-horizontal-loader>
<div class="wrap page-container">
  <div class="page-header">
    <span
      class="page-header__title"
      [innerHTML]="'dynamic-property.page.create.title' | transloco"
    ></span>
    <div class="page-header__actions">
      <cbc-reponsive-sub-menu *ngIf="currentLibrary">
        <a [routerLink]="['../library', currentLibrary.id]"
          >{{ 'label.library' | transloco }}</a
        >
        <a *ngIf="isLibAdmin()" [routerLink]="['../keywords']"
          >{{ 'label.keywords' | transloco }}</a
        >
        <a [routerLink]="['.']" class="selected"
          >{{ 'label.dynamic.properties' | transloco }}</a
        >
        <a
          *ngIf="isLibAdmin()"
          [routerLink]="['../admin/documents']"
          [queryParams]="{ expired: 1 }"
          >{{ 'label.expired.items' | transloco }}</a
        >
      </cbc-reponsive-sub-menu>
      <a
        class="cta cta--plus"
        (click)="prepareCreateModal()"
        [class.disabled]="dynamicProperties.length === 20"
        >{{ 'dynamic-property.add' | transloco }}</a
      >
    </div>
  </div>
  <div *ngIf="dynamicProperties.length === 20">
    <br />
    <br />
    <div
      style="
        color: rgb(255, 123, 0);
        font-size: 14px;
        text-align: center;
        padding: 15px;
        background-color: #fff;
      "
    >
      <img
        src="img/error-triangle-orange-32.png"
        style="vertical-align: middle; margin: 0 25px"
      />
      {{ 'dynamic-property.max.reached' | transloco }}
    </div>
  </div>
  <cbc-dynamic-property-box
    *ngFor="let dynProp of dynamicProperties"
    [property]="dynProp"
    (dynnamicPropDelete)="showModalDelete($event)"
    (dynamicPropEdit)="showModalEdit($event)"
  ></cbc-dynamic-property-box>
  <div *ngIf="dynamicProperties.length === 0">
    <br />
    <br />
    <div
      style="
        color: #ccc;
        font-size: 18px;
        text-align: center;
        padding: 15px;
        background-color: #fff;
        line-height: 64px;
      "
    >
      {{ 'dynamic-property.empty.list' | transloco }}
      <img
        src="img/dynamic-prop-cecfce.png"
        width="45"
        height="45"
        style="vertical-align: middle; margin: 0 25px"
      />
    </div>
  </div>
</div>
<cbc-dynamic-property-delete
  [showModal]="deleteModalShown"
  [property]="selectedProperty"
  (modalHide)="refresh($event)"
></cbc-dynamic-property-delete>
<cbc-create-dynamic-property
  [showModal]="createModalShown"
  [groupId]="groupId"
  (modalHide)="refresh($event)"
  [property]="propertyToUpdate"
></cbc-create-dynamic-property>
