{{ 'label.information.title' | transloco: { groupName: group?.name } |
cbcSetTitle }} @if (loading) {
<cbc-horizontal-loader />
}
<div class="fluid page-container">
  <div class="page-header" style="display: flex">
    <span
      class="page-header__title"
      [innerHtml]="'information.page.title' | transloco"
    ></span>
    <div class="warning-top-header">
      @if (informationNode !== undefined) {
      <cbc-notification-message
        [severity]="1"
        [message]="'group.information.public' | transloco"
        [guestAllowed]="informationNode.hasGuestAccess"
      ></cbc-notification-message>
      }
    </div>
    <div class="page-header__actions">
      <ul class="links">
        @if ( informationPage !== undefined | cbcIfRole: [informationPage,
        'InfAdmin', []] ) {
        <li>
          <a tabindex="0" (click)="showConfigureModal = true"
            >{{ 'label.configure' | transloco }}</a
          >
        </li>
        } @if (canAddNews()) {
        <li>
          <a class="cta" [routerLink]="['./add', informationNode?.id]"
            >{{ 'information.add.news' | transloco }}</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
  <br />
  <br />
  <section class="table-container news-top-header">
    <header class="header">
      <span class="icons">
        <cbc-share [showLabel]="false" [orientationRight]="false"></cbc-share>
        @if (!isGuest()) {
        <div class="dropdown-trigger dropdown-trigger--with-icons">
          @if (isSubscribedToNotifications()) {
          <img src="img/visibility.png" alt="Notifications" />
          } @if (!isSubscribedToNotifications()) {
          <img src="img/no-visibility.png" alt="Notifications" />
          }
          <div class="dropdown dropdown--library-settings">
            <div class="number-of-items">
              {{ 'label.notifications' | transloco }}:
              <br />
              <br />
              @if (!isSubscribedToNotifications()) {
              <a tabindex="0" (click)="changeNotificationSubscription('on')"
                >{{ 'label.subscribe' | transloco }}
                <img src="img/visibility.png" alt="Notifications" />
              </a>
              } @if (isSubscribedToNotifications()) {
              <a tabindex="0" (click)="changeNotificationSubscription('off')"
                >{{ 'label.unsubscribe' | transloco }}
                <img src="img/no-visibility.png" alt="Notifications" />
              </a>
              }
            </div>
          </div>
        </div>
        }
      </span>
    </header>
  </section>

  <section class="information--container">
    <div class="container--selection box box-alternate">
      @if (hasCards()) {
      <header class="header" style="padding-right: 10px">
        <span class="title"
          >{{ 'label.latest.news' | transloco }} ({{ hasOldInformation() ?
          infoNews.total + 1 : infoNews.total }})</span
        >
        @if (highlightedMode) {
        <span class="clear--filter">
          <a tabindex="0" (click)="highlight(highlightedNews)"
            >{{ 'label.clear.filter' | transloco }}</a
          >
        </span>
        }
      </header>
      } @if (hasCards()) {
      <div class="main">
        @if (totalItems > 1) {
        <div class="pager">
          <cbc-pager
            [length]="totalItems"
            [pageSize]="listingOptions.limit"
            [page]="listingOptions.page"
            (pageChange)="changePage($event)"
          ></cbc-pager>
        </div>
        }
        <ul>
          @for (news of infoNews.data; track news.id) {
          <li tabindex="0" (click)="highlight(news)">
            <div
              [class.news--type--date]="news.pattern === 'date'"
              [class.news--type--text]="news.pattern === 'text'"
              [class.news--type--file]="news.pattern === 'document'"
              [class.news--type--image]="news.pattern === 'image'"
              [class.news--type--iframe]="news.pattern === 'iframe'"
            ></div>

            @if (highlightedNews === news) {
            <img src="img/check.png" class="check" alt="Check mark" />
            }
            <div class="new-title">
              {{ news.pattern === 'iframe' ? news.url : (news.title | cbcI18n)
              }}
            </div>
            <span class="news--date"
              >{{ news.modified | date: 'dd-MM-yyyy' }}</span
            >
          </li>
          } @if (hasOldInformation()) {
          <li tabindex="0" (click)="highlightIFrame()">
            <div class="news--type--image"></div>
            @if (highlightedIframeMode) {
            <img src="img/check.png" class="check" alt="Check mark" />
            } {{ 'information.old.information.title' | transloco }}
          </li>
          }
        </ul>
      </div>
      } @if (totalItems > 1 && hasCards()) {
      <div class="pager">
        <cbc-pager
          [length]="totalItems"
          [pageSize]="listingOptions.limit"
          [page]="listingOptions.page"
          (pageChange)="changePage($event)"
        ></cbc-pager>
      </div>
      }
      <br style="clear: left" />
    </div>

    @if (!highlightedMode && !highlightedIframeMode) {
    <div class="container--news">
      @for (news of infoNews.data; track news.id) {
      <div
        class="newsColumn"
        [class.newsColumn--iframe]="news.pattern === 'iframe'"
      >
        <cbc-news-card
          [news]="news"
          (newsDeleted)="refresh($event)"
          (newsClicked)="highlight(news)"
        >
        </cbc-news-card>
      </div>
      } @if (hasOldInformation()) {
      <div class="newsColumn newsColumn--iframe">
        <cbc-news-card [news]="getOldInformation()" [hideActions]="true">
        </cbc-news-card>
      </div>
      } @if (!hasCards() && !loading) {
      <div class="container--empty">
        {{ 'information.empty.configuration' | transloco }}
        <img src="img/rounded-block-sign.png" alt="Rounded block sign" />
      </div>
      }
    </div>
    } @if (highlightedMode && !loading) {
    <div class="container--news">
      <cbc-news-card
        [class.span-column]="highlightedMode"
        [class.span-column-max-window]="highlightedMaxWindow"
        [news]="highlightedNews"
        (newsDeleted)="refresh($event)"
        [highlighted]="true"
        (newsClicked)="highlight(highlightedNews)"
        (highlightedMaxWindow)="maxWindowHighlighted($event)"
      >
      </cbc-news-card>
    </div>
    } @if (highlightedIframeMode && !loading) {
    <div class="container--news">
      @if (hasOldInformation()) {
      <div class="newsColumn newsColumn--iframe">
        <cbc-news-card [news]="getOldInformation()" [hideActions]="true">
        </cbc-news-card>
      </div>
      }
    </div>
    }
  </section>
</div>
<cbc-configure-information
  [showModal]="showConfigureModal"
  [groupId]="groupId"
  (modalHide)="refresh($event)"
/>
<br /><br />
