<form [formGroup]="categoryForm" class="form">
  <div class="field">
    <label for="name">{{ 'label.name' | transloco }}</label>
    <input type="text" id="name" value="" formControlName="name" />
    <cbc-control-message [control]="nameControl"></cbc-control-message>
  </div>

  <cbc-multilingual-input
    formControlName="title"
    [label]="'label.title' | transloco"
    [placeholder]="'label.title' | transloco"
    [lang]="'en'"
  ></cbc-multilingual-input>

  @if (loading) {
  <div class="field">
    <div
      >{{ 'label.updating' | transloco }}...
      <cbc-spinner></cbc-spinner>
    </div>
  </div>
  }

  <div class="field">
    <div>{{ 'label.path' | transloco }}</div>
    <span>{{header}}</span>
  </div>

  @if (!loading) {
  <div class="buttons-group">
    <a tabindex="0" class="cta" (click)="update()"
      >{{ 'label.update' | transloco }}</a
    >
    <a tabindex="0" class="button" (click)="cancel()"
      >{{ 'label.cancel' | transloco }}</a
    >
  </div>
  }
</form>
