@use '_global';
@use '_forms';
@use '_boxes';

.filterActionColumn {
  width: 150px;
}

.subtitle-box {
  display: flex;
  align-items: center;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.actions {
  text-align: center;

  div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
}

::ng-deep cbc-hint {
  .hint .hinttext {
    width: 300px !important;
    margin-left: -290px !important;
  }
}
