<cbc-horizontal-loader *ngIf="loading"></cbc-horizontal-loader>
<div class="fluid" *ngIf="ready">
  <span *ngIf="!fromIG">
    <br />
    <br />
  </span>
  <a class="cta cta--plus" style="float: right" (click)="showAddModal = true"
    >{{ 'notifications.add.configuration' | transloco }}</a
  >
  <a *ngIf="!fromIG" (click)="goBack()" class="page-header__backlink"
    >{{ 'label.back' | transloco }}</a
  >
  <h2>
    {{ 'label.notifications.on' | transloco }}
    {{(isForumNewsgroupsName(currentNode.name!,currentNode.type!))?
    ('label.forum' | transloco) : currentNode.name }}
  </h2>
  <div class="fluid page-container">
    <img src="img/info-signs.png" height="16" width="16" />
    <span *ngIf="fromIG" style="color: #035"
      >{{ 'admin.notification.status.info.ig' | transloco }}
      <strong>'{{ 'label.UNSUBSCRIBED' | transloco }}'</strong>
    </span>
    <span *ngIf="!fromIG"
      >{{ 'admin.notification.status.info.text' | transloco }}</span
    >
    <section class="table-container">
      <h3>{{ 'admin.notification.status.configuration' | transloco }}</h3>
      <header class="header">
        <cbc-pager
          [length]="totalConfigurations"
          [pageSize]="listingOptionsConfigurations.limit"
          [pageIndex]="listingOptionsConfigurations.page"
          (pageChanged)="goToPageConfigurations($event)"
        ></cbc-pager>
      </header>

      <table class="main">
        <thead>
          <tr>
            <th></th>
            <th style="width: 22px"></th>
            <th>{{ 'label.type' | transloco }}</th>
            <th>{{ 'label.name' | transloco }}</th>
            <th>{{ 'admin.tab.notification.status' | transloco }}</th>
            <th>
              {{ 'label.inherited' | transloco }}&nbsp;&nbsp;&nbsp;<cbc-hint
                style="font-weight: normal"
                [floatEnable]="false"
                [text]="'label.notification.inherited.help' | transloco"
              ></cbc-hint>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            class="row empty-row"
            *ngIf="notificationConfigurations !== undefined"
          >
            <td
              style="padding-left: 22px"
              colspan="6"
              *ngIf="notificationConfigurations.length === 0"
            >
              {{ 'admin.notification.status.configuration.display.none' |
              transloco }}
            </td>
          </tr>

          <tr
            class="row"
            *ngFor="let configuration of notificationConfigurations"
          >
            <td class="cell-left-border"></td>
            <td class="cell-checkbox"></td>
            <td class="cell-file-name" style="width: 30px">
              {{ configuration.type }}
              <ul class="actions" style="width: 80px">
                <li>
                  <cbc-inline-delete
                    *ngIf="!configuration.inherited"
                    (deletionConfirmed)="deleteConfiguration(configuration)"
                  ></cbc-inline-delete>
                </li>
              </ul>
            </td>
            <td *ngIf="configuration.type === 'GROUP'">
              {{ configuration.title !== undefined ? (configuration.title |
              cbcI18n) : configuration.userName }}
            </td>
            <td *ngIf="configuration.type === 'USER'">
              {{ configuration.userName }}
            </td>
            <td>
              <a (click)="toggleConfigurationStatus(configuration)"
                >{{ 'label.' + configuration.status | transloco }}</a
              >
            </td>
            <td>
              {{ (configuration.inherited ? 'label.yes' : 'label.no') |
              transloco }}
            </td>
          </tr>
        </tbody>
      </table>

      <cbc-pager
        [length]="totalConfigurations"
        [pageSize]="listingOptionsConfigurations.limit"
        [pageIndex]="listingOptionsConfigurations.page"
        (pageChanged)="goToPageConfigurations($event)"
      ></cbc-pager>
    </section>

    <hr />

    <section class="table-container">
      <h3>{{ 'admin.notification.status.subscribed.users' | transloco }}</h3>
      <header class="header">
        <cbc-pager
          [length]="totalUsers"
          [pageSize]="listingOptionsUsers.limit"
          [pageIndex]="listingOptionsUsers.page"
          (pageChanged)="goToPageUsers($event)"
        ></cbc-pager>
      </header>

      <table class="main">
        <thead>
          <tr>
            <th></th>
            <th style="width: 22px"></th>
            <th style="padding-right: 30px">
              {{ 'label.username' | transloco }}
            </th>
            <th>{{ 'label.lastname' | transloco }}</th>
            <th>{{ 'label.firstname' | transloco }}</th>
            <th>{{ 'label.email' | transloco }}</th>
          </tr>
        </thead>

        <tbody>
          <tr class="row empty-row" *ngIf="subscribedUsers !== undefined">
            <td
              style="padding-left: 22px"
              colspan="6"
              *ngIf="subscribedUsers.length === 0"
            >
              {{ 'admin.notification.status.users.display.none' | transloco }}
            </td>
          </tr>

          <tr class="row" *ngFor="let user of subscribedUsers">
            <td class="cell-left-border"></td>
            <td class="cell-checkbox"></td>
            <td class="cell-file-name" style="width: 30px">
              {{ user.userName }}
            </td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.emailAddress }}</td>
          </tr>
        </tbody>
      </table>

      <div class="footer">
        <cbc-pager
          [length]="totalUsers"
          [pageSize]="listingOptionsUsers.limit"
          [pageIndex]="listingOptionsUsers.page"
          (pageChanged)="goToPageUsers($event)"
        ></cbc-pager>
      </div>
    </section>
  </div>

  <cbc-add-notifications
    *ngIf="currentNode"
    [showModal]="showAddModal"
    [node]="currentNode"
    [ig]="igId"
    (finished)="refresh($event)"
  ></cbc-add-notifications>
</div>
