<div class="fluid page-container">
  <div class="file-details">
    <div class="wrap">
      <div class="page-header">
        <div class="page-header__actions">
          <ul class="links">
            <li
              >@if (isTopicAdmin()) {
              <a
                [routerLink]="['../../../permissions', topic.id]"
                [queryParams]="{ from: 'topic' }"
                >{{ 'label.permissions' | transloco }}</a
              >
              }</li
            >&nbsp;&nbsp;&nbsp;
            <li
              >@if (isTopicAdmin()) {
              <a
                [routerLink]="['../../../notification-status', topic.id]"
                [queryParams]="{ from: 'topic' }"
                >{{ 'label.notifications' | transloco }}</a
              >
              }</li
            >
          </ul>
        </div>
      </div>

      <section class="box">
        <header class="header">
          @if (viewing) {
          <span class="title">{{ 'topic.view.details' | transloco }}</span>
          } @if (!viewing) {
          <span class="title">{{ 'topic.edit.details' | transloco }}</span>
          }
        </header>
        <div class="main">
          <section class="file-informations">
            <form [formGroup]="updateTopicForm">
              <div class="field switch">
                <!-- Topic details -->
                <cbc-multilingual-input
                  formControlName="title"
                  [enabled]="!viewing"
                  [label]="'label.title' | transloco"
                  [lang]="'EN'"
                ></cbc-multilingual-input>
                <cbc-control-message
                  [control]="updateTopicForm.controls['title']"
                ></cbc-control-message>
                <cbc-multilingual-input
                  formControlName="description"
                  [enabled]="!viewing"
                  [textarea]="true"
                  [label]="'label.description' | transloco"
                  [lang]="'EN'"
                ></cbc-multilingual-input>
                <div class="field">
                  <label>{{ 'label.version' | transloco }}</label>
                  @if (topic) {
                  <label>{{ versionLabel }}</label>
                  }
                </div>
                <div class="field">
                  <label>{{ 'label.creator' | transloco }}</label>
                  @if (topic && creator !== undefined) {
                  <label>{{ creator.firstname }} {{ creator.lastname }}</label>
                  }
                </div>
                <div class="field">
                  <label>{{ 'label.created' | transloco }}</label>
                  @if (topic) {
                  <label>{{ created }}</label>
                  }
                </div>
                <div class="field">
                  <label>{{ 'label.modifier' | transloco }}</label>
                  @if (topic && modifier !== undefined) {
                  <label
                    >{{ modifier.firstname }} {{ modifier.lastname }}</label
                  >
                  }
                </div>
                <div class="field">
                  <label>{{ 'label.modified' | transloco }}</label>
                  @if (topic) {
                  <label>{{ modified }}</label>
                  }
                </div>
                <div class="field">
                  <label for="securityRanking"
                    >{{ 'label.security.marking' | transloco }}</label
                  >
                  <div
                    class="custom-select select--form reset-width select-align"
                  >
                    <select
                      name=""
                      id="securityRanking"
                      formControlName="securityRanking"
                    >
                      <option value="NORMAL">
                        {{ 'label.normal' | transloco }}
                      </option>
                      <option value="SENSITIVE">
                        {{ 'label.sensitive' | transloco }}
                      </option>
                      <option value="SPECIAL_HANDLING">
                        {{ 'label.special.handling' | transloco }}
                      </option>
                      <option value="PUBLIC"
                        >{{ 'label.public' | transloco }}</option
                      >
                      <option value="INTERNAL"
                        >{{ 'label.internal' | transloco }}</option
                      >
                      <option value="LIMITED"
                        >{{ 'label.limited' | transloco }}</option
                      >
                    </select>
                  </div>
                </div>
                <div class="field">
                  <label>{{ 'label.moderated' | transloco }}</label>
                  @if (topic) {
                  <label
                    >{{ (ismoderated === 'true' ? 'label.yes' : 'label.no') |
                    transloco }}</label
                  >
                  }
                </div>
              </div>
            </form>

            @if (processing) {
            <div class="field">
              <label
                >{{ 'label.updating' | transloco }}...<cbc-spinner></cbc-spinner
              ></label>
            </div>
            } @if (!processing && viewing) {
            <br />
            } @if (!processing && viewing) {
            <section class="actions" style="height: 127px">
              <ul class="actions__secondary-actions--left">
                <li
                  ><a tabindex="0" class="edit" (click)="enableEdit()"
                    >{{ 'label.edit' | transloco }}</a
                  ></li
                >
              </ul>
            </section>
            }

            <!-- Buttons -->
            @if (!processing && !viewing) {
            <div class="buttons-group center">
              @if (updateTopicForm.status === 'VALID') {
              <a class="cta" [routerLink]="['.']" (click)="update()"
                >{{ 'label.update' | transloco }}</a
              >
              }
              <a class="button" [routerLink]="['.']" (click)="cancel()"
                >{{ 'label.cancel' | transloco }}</a
              >
            </div>
            }
          </section>
        </div>
      </section>
    </div>
  </div>
</div>
