.download {
  display: block;
  width: 100px;
  padding-top: 60px;
  text-align: center;
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url(^img/bigicon-download-53x53.png);
}
