/* PERSONAL SETTINGS */

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}
