@if (user) {
<section class="member-card">
  <header>
    @if (user.firstname && user.lastname) {
    <img
      class="avatar"
      [attr.src]="user.avatar | cbcDownload | cbcSecure"
      title="avatar"
      alt="avatar"
    />
    } {{ user.firstname }} <br />
    {{ user.lastname }}
  </header>
  <div class="details">
    <h3>{{ 'user.contact.information' | transloco }}</h3>
    <table>
      <tbody>
        @if (user.userId) {
        <tr>
          <td class="label">{{ 'label.userid' | transloco }}</td>
          <td class="value">{{ user.userId }}</td>
        </tr>
        } @if (user.email && getUserVisibility()) {
        <tr>
          <td class="label">{{ 'label.email' | transloco }}</td>
          <td class="value">{{ user.email }}</td>
        </tr>
        } @if (user.phone && getUserVisibility()) {
        <tr>
          <td class="label">{{ 'label.phone' | transloco }}</td>
          <td class="value">{{ user.phone }}</td>
        </tr>
        } @if (user.properties && getUserVisibility()) {
        <tr>
          <td class="label">{{ 'label.title' | transloco }}</td>
          <td class="value">{{ user.properties.title }}</td>
        </tr>
        } @if (user.properties && getUserVisibility()) {
        <tr>
          <td class="label">{{ 'label.organisation' | transloco }}</td>
          <td class="value">{{ user.properties.organisation }}</td>
        </tr>
        } @if (user.properties && getUserVisibility()) {
        <tr>
          <td class="label">{{ 'label.postal.address' | transloco }}</td>
          <td class="value">{{ user.properties.address }}</td>
        </tr>
        } @if (user.properties && getUserVisibility()) {
        <tr>
          <td class="label">{{ 'label.fax' | transloco }}</td>
          <td class="value">{{ user.properties.fax }}</td>
        </tr>
        } @if (user.properties && getUserVisibility()) {
        <tr>
          <td class="label">{{ 'label.description' | transloco }}</td>
          <td class="value">{{ user.properties.description }}</td>
        </tr>
        } @if (user.properties) {
        <tr>
          <td class="label">{{ 'label.global.notification' | transloco }}</td>
          <td class="value">
            {{ user.properties.globalNotificationEnabled === 'true' ? 'ON' :
            'OFF' }}
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>
}
