<div class="field captcha-image-box">
  <div class="captcha-img">
    <img id="imageCaptcha" src="{{ captchaImage }}" alt="" />
  </div>

  <div class="captcha-buttons">
    <div>Can't read this?</div>
    <div class="captcha-button">
      <a tabindex="0" (click)="refresh()">
        <img src="img/icon-autoupload-blue.svg" alt="" width="20px" />
        <div>{{ 'label.refresh' | transloco }}</div>
      </a>
    </div>

    <div class="captcha-button">
      <audio
        #playAudio
        autostart="1"
        [src]="audioCaptcha"
        id="audioCaptcha"
        onplay="onPlayAudio()"
      ></audio>

      <a tabindex="0" (click)="playAudio.play()">
        <img src="img/icon-audio-blue.svg" alt="" width="20px" />
        <div>{{ 'label.captcha.audio' | transloco }}</div>
      </a>
    </div>

    <div>Powered by EU CAPTCHA</div>
  </div>
</div>

<div class="field">
  <label for="answer" class="mandatory">{{'label.answer' | transloco}}</label>
  <input id="answer" type="text" [formControl]="answer" />
  <cbc-control-message [control]="answer"></cbc-control-message>
</div>
