.article-card {
  height: 230px;
  margin: 10px;
  background-color: #fbfbfb;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 3px 5px 0 rgb(224 224 224 / 0.77);

  h3 {
    overflow: hidden;
  }

  .updated {
    border-bottom: 1px solid;
    padding: 5px 10px;
    color: #ccc;
    margin-bottom: 5px;
    display: block;
    text-align: right;
  }

  .content-limited {
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #757575;
    position: relative;

    ::ng-deep img {
      max-width: 100%;
    }

    &::after {
      position: absolute;
      bottom: 0;
      height: 50%;
      width: 100%;
      content: '';
      background: linear-gradient(
        to top,
        rgb(251 251 251 / 1) 20%,
        rgb(255 255 255 / 0) 80%
      );
      pointer-events: none; /* so the text is still selectable */
    }
  }
}
