.login-form {
  padding: 32px;
  background: #1f3341;
  border-radius: 5px;
  box-shadow: 0 0 15px #5b5b5b;
}

.header-login {
  background: #fff;
}

.loggin {
  background: #6f8594;
  border-radius: 5px;
  padding: 5px;
}
