<div class="home-logout" style="background: none !important">
  <div class="footer-bottom-stucker">
    <div class=""></div>
    <header class="header fluid header-login">
      <div class="ec-links"> </div>
      <img
        class="ec-logo"
        src="img/logo-european-commission.png"
        alt="European Commission"
      />
    </header>
    <div class="main" style="background: none !important">
      <div class="wrap login-form">
        <h3
          >{{ 'label.loging.out' | transloco }}
          <img class="logo" src="img/logo-circabc-big.png" alt="CIRCABC" />
        </h3>
      </div>
    </div>
  </div>
</div>
