@if (pageSize() > 0) {
<div class="float-left">
  <div class="nav-pages">
    <div class="buttons">
      <a
        tabindex="0"
        class="previous-page"
        (click)="previousPage()"
        [class.disabled]="!canPreviousPage()"
        >{{ 'label.previous.page' | transloco }}</a
      >
      <a
        tabindex="0"
        class="next-page"
        (click)="nextPage()"
        [class.disabled]="!canNextPage()"
        >{{ 'label.next.page' | transloco }}</a
      >
    </div>
    @if (length() > 0) {
    <div class="custom-select select--page-selector">
      <select #pages (change)="goToPage(pages.value)">
        @for (n of getPages(); track n) {
        <option value="{{ n }}" selected="{{ n === page() ? 'selected' : '' }}">
          {{ 'label.page' | transloco }} {{ n }}
        </option>
        }
      </select>
    </div>
    } @if (length() > 0) {
    <span class="total-pages">/{{ getPages().length }}</span>
    }
  </div>
</div>
}
