target/
.idea/
.vscode/
.settings/
.metadata/
.recommenders/
new.war
set_var.bat
dep.sh
old
circabc-backend/circabc-backend.iml
circabc-parent.iml
circabc-frontend-wrapper/circabc-frontend-wrapper.iml
circabc-frontend/yarn.lock
.project
circabc-frontend-wrapper/.classpath
circabc-backend/.classpath
circabc-frontend/angular
build/wlslocal-paul.bat
build/acc1.bat
build/acc2.bat
build/dev1.bat
build/prod1.bat
build/prod2.bat
build/prod3.bat
circabc-backend/.classpath
circabc-frontend-wrapper/.classpath
circabc-frontend/out-tsc/
circabc-backend/.classpath
circabc-backend/.project
circabc-frontend/.cache/
circabc-frontend/src/assets/*.*.*.*/ 
circabc-backend/node_modules/
circabc-frontend/.env
circabc-frontend/env.bat
circabc-e2e/cypress/downloads/CIRCABC_Leader_Guide.pdf
circabc-docker/solr/dist/alfresco-solr-4.2.f.zip
circabc-frontend/sbom_enriched.csv
circabc-frontend/sbom.csv
circabc-frontend/sbom.xml
circabc-resources/alfresco.war
circabc-docker/docker-compose-weblogic-oracle-xe.yml
circabc-docker/oracle-xe/init/startup.sql
circabc-backend/buildconfig/weblogic-docker-oracle-xe/application.xml
circabc-backend/buildconfig/weblogic-docker-oracle-xe/WEB-INF/web.xml
circabc-backend/buildconfig/weblogic-docker-oracle-xe/WEB-INF/classes/alfresco-global.properties
circabc-backend/buildconfig/weblogic-docker-oracle-xe/WEB-INF/classes/ecas-config.properties
circabc-backend/buildconfig/weblogic-docker-oracle-xe/WEB-INF/classes/log4j.properties
circabc-backend/buildconfig/weblogic-docker-oracle-xe/WEB-INF/classes/META-INF/metro-default.xml
circabc-backend/buildconfig/weblogic-docker-oracle-xe/WEB-INF/classes/alfresco/extension/content-store-selector-context.xml
circabc-backend/buildconfig/weblogic-docker-oracle-xe/WEB-INF/classes/alfresco/extension/ecas-spring-context.xml
circabc-backend/buildconfig/weblogic-docker-oracle-xe/WEB-INF/classes/alfresco/extension/migration/circabc-exportation.properties
dep-o.sh
circabc-resources/alfresco.war
circabc-backend/.project
circabc-docker/docker-compose-tomcat-dev-collipe.yml
circabc-docker/tomcat/license
circabc-docker/tomcat/license/Alfresco-ent42-EuropeanCommissionCommissioneuropenneEUCexp6292025 2.lic
circabc-docker/tomcat/dist
circabc-docker/angular/distcircabc-docker/tomcat/dist/
circabc-docker/solr/dist/
circabc-docker/angular/dist/
