target/
.idea/
.vscode/
.settings/
.metadata/
.recommenders/
new.war
set_var.bat
old
circabc-backend/circabc-backend.iml
circabc-parent.iml
circabc-frontend-wrapper/circabc-frontend-wrapper.iml
circabc-frontend/yarn.lock
.project
circabc-frontend-wrapper/.classpath
circabc-backend/.classpath
circabc-frontend/angular
build/wlslocal-paul.bat
build/acc1.bat
build/acc2.bat
build/dev1.bat
build/prod1.bat
build/prod2.bat
build/prod3.bat
circabc-backend/.classpath
circabc-frontend-wrapper/.classpath
circabc-frontend/out-tsc/
circabc-backend/.classpath
circabc-backend/.project
circabc-frontend/.cache/
circabc-frontend/src/assets/*.*.*.*/ 
circabc-backend/node_modules/
circabc-frontend/.env
circabc-frontend/env.bat
circabc-e2e/cypress/downloads/CIRCABC_Leader_Guide.pdf
