target/
.idea/
.vscode/
.settings/
.metadata/
.recommenders/
new.war
set_var.bat
old
circabc-backend/circabc-backend.iml
circabc-parent.iml
circabc-frontend-wrapper/circabc-frontend-wrapper.iml
circabc-frontend/yarn.lock
.project
circabc-frontend-wrapper/.classpath
circabc-backend/.classpath
circabc-frontend/angular
build/wlslocal-paul.bat
build/acc1.bat
build/acc2.bat
build/dev1.bat
build/prod1.bat
build/prod2.bat
build/prod3.bat
circabc-backend/.classpath
circabc-frontend-wrapper/.classpath
circabc-frontend/out-tsc/
circabc-backend/.classpath
circabc-backend/.project
circabc-frontend/.cache/
circabc-backend/source/ear/META-INF/weblogic-12.1.3/weblogic-application.xml
circabc-backend/source/ear/META-INF/weblogic-12.2.1/weblogic-application.xml
circabc-backend/source/java/alfresco/extension/messages/circabc-version.properties
