<!-- MODAL BOX -->
@if (showModal) {
<div
  class="black-overlayer"
  [class.overlayer-shown]="showModal"
  [class.overlayer-hidden]="!showModal"
></div>
} @if (showModal) {
<section
  class="modal"
  [class.modal-shown]="showModal"
  [class.modal-hidden]="!showModal"
  style="margin-top: 0"
>
  <a
    tabindex="0"
    role="button"
    class="close-icon"
    aria-label="Cancel wizard"
    (click)="cancelWizard('close')"
  ></a>
  <header>
    <h2 class="title">{{ 'label.delete' | transloco }}</h2>
  </header>

  <section class="modal-content">
    {{ 'topic.confirm-delete' | transloco }}
    <br /><br />
    {{ 'label.title' | transloco }}: {{ topic().title === undefined ?
    topic().name : (topic().title | cbcI18n) === '' ? topic().name :
    (topic().title | cbcI18n) !== '' ? (topic().title | cbcI18n) :
    ('label.no.name' | transloco) }}
    <br /><br />
    @if (deleting) {
    <div class="field">
      <div>
        {{ 'label.deleting' | transloco }}... <cbc-spinner></cbc-spinner>
      </div>
    </div>
    }
  </section>

  <section class="modal-footer">
    <!-- Buttons -->
    @if (!deleting) {
    <div class="buttons-group">
      <a tabindex="0" class="cta" (click)="delete()"
        >{{ 'label.delete' | transloco }}</a
      >
      <a
        tabindex="0"
        class="button"
        class="button"
        (click)="cancelWizard('close')"
        >{{ 'label.cancel' | transloco }}</a
      >
    </div>
    }
  </section>
</section>
}
