<ul>
  @if (loading) {
  <li>
    <cbc-spinner [white]="true"></cbc-spinner> {{ 'label.loading' | transloco }}
  </li>
  }
  <li>
    @if (!canBeExpanded()) {
    <span class="expander"></span>
    } @if (node.expanded && canBeExpanded() && showExpander()) {
    <a
      tabindex="0"
      role="button"
      class="flaticon-chevron-arrow-down"
      aria-label="Toggle Expand"
      (click)="toggleExpand()"
    ></a>
    } @if (!node.expanded && canBeExpanded() && showExpander()) {
    <a
      tabindex="0"
      role="button"
      class="flaticon-right-chevron"
      aria-label="Toggle Expand"
      (click)="toggleExpand()"
    ></a>
    } @if (showSelector()) {
    <span>
      <input
        type="radio"
        name="tree"
        (click)="selectNode(node)"
        [checked]="markSelected()"
        [disabled]="disabled()"
      />
    </span>
    }
    <a
      tabindex="0"
      (click)="clickNode(node)"
      [class.underlined]="markSelected() && !showSelector()"
      pTooltip="{{ node.description }}"
      tooltipPosition="top"
      [escape]="false"
      >{{(node.name !== "Newsgroups")? node.name :'label.forums' |transloco}}</a
    >

    @if (isNew()) {
    <span
      class="pennant--new"
      pTooltip="{{ 'label.within.last' | transloco: { nbDays: flagNewDays() } }}"
      tooltipPosition="top"
      >{{ 'label.new' | transloco }}</span
    >
    } @if (node.expanded) {
    <div>
      @for (child of node.children; track child.nodeId) {
      <div>
        <cbc-tree-node
          [disabled]="disabled()"
          [searchedNodeId]="searchedNodeId()"
          [node]="child"
          (selectedNodeEmitter)="selectNode($event)"
          [showSelector]="showSelector()"
          (clickedNodeEmitter)="clickNode($event)"
          [displayedPath]="displayedPath()"
          [rootId]="rootId()"
          [service]="service()"
          [flagNewDays]="flagNewDays()"
        ></cbc-tree-node>
      </div>
      }
    </div>
    }
  </li>
</ul>
