<div class="flex-calendar main" style="margin-top: 5px">
  <div
    *ngFor="let item of viewRowElements"
    class="day"
    [class.day-hour]="item.isHour"
    [class.day--previous-month]="item.isHour"
    [class.flex-day]="!item.isHour"
    [class.day-events]="!item.isHour"
    [class.day-events-multiple]="
      !item.isHour && coversMultipleMinuteRanges(item)
    "
    (mouseenter)="item.showDetailsBox = true"
    (mouseleave)="item.showDetailsBox = false"
  >
    <span *ngIf="item.isHour">{{ item.value }}</span>

    <div *ngIf="!item.isHour" style="float: left"
      >{{ this.padWithLeadingZero(item.minutes) }}&nbsp;</div
    >
    <div *ngIf="!item.isHour" class="events--container">
      <span *ngFor="let showableEvent of getValueAsArray(item.value)">
        <a
          *ngIf="isEvent(showableEvent.event) && showableEvent.show && meMode"
          [routerLink]="[
            '/group',
            showableEvent.event.igId,
            'agenda',
            showableEvent.event.id,
            'details'
          ]"
        >
          <img width="10" height="10" src="img/event-155D79.png" />
          <span style="color: #155d79"
            >{{ showableEvent.event.startTime }} {{ showableEvent.event.endTime
            }}</span
          >
          <span style="color: black">{{ showableEvent.event.title }}</span>
          <span
            *ngIf="showRibbons"
            class="arrow--start"
            [ngStyle]="getStyle(showableEvent)"
          ></span>
          <br />
        </a>
        <a
          *ngIf="isMeeting(showableEvent.event) && showableEvent.show && meMode"
          [routerLink]="[
            '/group',
            showableEvent.event.igId,
            'agenda',
            showableEvent.event.id,
            'details'
          ]"
        >
          <img width="10" height="10" src="img/meeting-155D79.png" />
          <span style="color: #155d79"
            >{{ showableEvent.event.startTime }} {{ showableEvent.event.endTime
            }}</span
          >
          <span style="color: black">{{ showableEvent.event.title }}</span>
          <span
            *ngIf="showRibbons"
            class="arrow--start"
            [ngStyle]="getStyle(showableEvent)"
          ></span>
          <br />
        </a>
        <a
          *ngIf="isEvent(showableEvent.event) && showableEvent.show && !meMode"
          [routerLink]="[
            '/group',
            id,
            'agenda',
            showableEvent.event.id,
            'details'
          ]"
        >
          <img width="10" height="10" src="img/event-155D79.png" />
          <span style="color: #155d79"
            >{{ showableEvent.event.startTime }} {{ showableEvent.event.endTime
            }}</span
          >
          <span style="color: black">{{ showableEvent.event.title }}</span>
          <span
            *ngIf="showRibbons"
            class="arrow--start"
            [ngStyle]="getStyle(showableEvent)"
          ></span>
          <br />
        </a>
        <a
          *ngIf="
            isMeeting(showableEvent.event) && showableEvent.show && !meMode
          "
          [routerLink]="[
            '/group',
            id,
            'agenda',
            showableEvent.event.id,
            'details'
          ]"
        >
          <img width="10" height="10" src="img/meeting-155D79.png" />
          <span style="color: #155d79"
            >{{ showableEvent.event.startTime }} {{ showableEvent.event.endTime
            }}</span
          >
          <span style="color: black">{{ showableEvent.event.title }}</span>
          <span
            *ngIf="showRibbons"
            class="arrow--start"
            [ngStyle]="getStyle(showableEvent)"
          ></span>
          <br />
        </a>
        <a
          *ngIf="!showableEvent.show && meMode && showRibbons"
          [routerLink]="[
            '/group',
            showableEvent.event.igId,
            'agenda',
            showableEvent.event.id,
            'details'
          ]"
        >
          <span
            class="appointment-ribbon"
            [ngStyle]="getStyle(showableEvent)"
          ></span>
          <br />
        </a>
        <a
          *ngIf="!showableEvent.show && !meMode && showRibbons"
          [routerLink]="[
            '/group',
            id,
            'agenda',
            showableEvent.event.id,
            'details'
          ]"
        >
          <span
            class="appointment-ribbon"
            [ngStyle]="getStyle(showableEvent)"
          ></span>
          <br />
        </a>
      </span>
    </div>

    <!-- Hover popup with meeting details -->
    <div
      id="detailsPopup"
      class="popup popup--calendar"
      *ngIf="showRightDetailsBox(item)"
    >
      <div class="events-of-the-day">
        <div class="title"
          >{{ this.padWithLeadingZero(item.hour) }}:{{
          this.padWithLeadingZero(item.minutes) }}</div
        >
        <ul class="events">
          <li
            class="event"
            *ngFor="let showableEvent of getValueAsArray(item.value)"
          >
            <div>
              <span class="hour">{{ showableEvent.event.startTime }}</span>
              <a
                [routerLink]="[showableEvent.event.id, 'details']"
                class="event-name"
                >{{ showableEvent.event.title }}</a
              >
            </div>
            <div class="details">
              <span class="abstract">
                {{ showableEvent.event.eventAbstract === '' ? ('label.na' |
                transloco) : showableEvent.event.eventAbstract }}
              </span>
              <br />
              <br />
              <span class="duration">{{ showableEvent.event.endTime }}</span>
              <span class="location"
                >{{ showableEvent.event.location === '' ? ('label.na' |
                transloco) : showableEvent.event.location }}</span
              >
              <!-- see how to refactor this with a variable or something, not to call the function so much -->
              <span
                *ngIf="
                  getRepetition(showableEvent.event.occurrenceRate).length === 1
                "
                class="repetition"
                >{{ 'label.' +
                getRepetition(showableEvent.event.occurrenceRate)[0] | transloco
                }}</span
              >
              <span
                *ngIf="
                  getRepetition(showableEvent.event.occurrenceRate).length === 3
                "
                class="repetition"
                >{{ 'update-event.repeats.legend.when' | transloco : {
                timesOccurrence: 'label.' + getRepetition(
                showableEvent.event.occurrenceRate )[1] | transloco, times:
                getRepetition( showableEvent.event.occurrenceRate )[2] }
                }}</span
              >
              <span
                *ngIf="
                  getRepetition(showableEvent.event.occurrenceRate).length === 4
                "
                class="repetition"
                >{{ 'update-event.repeats.legend.every' | transloco : {
                everyTime: getRepetition( showableEvent.event.occurrenceRate
                )[2], everyTimesOccurence:
                getRepetition(showableEvent.event.occurrenceRate)[1] |
                transloco, times: getRepetition(
                showableEvent.event.occurrenceRate )[3] } }}</span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="left-popup left-popup--calendar"
      *ngIf="showLeftDetailsBox(item)"
    >
      <div class="events-of-the-day">
        <div class="title"
          >{{ this.padWithLeadingZero(item.hour) }}:{{
          this.padWithLeadingZero(item.minutes) }}</div
        >
        <ul class="events">
          <li
            class="event"
            *ngFor="let showableEvent of getValueAsArray(item.value)"
          >
            <div>
              <span class="hour">{{ showableEvent.event.startTime }}</span>
              <a
                [routerLink]="[showableEvent.event.id, 'details']"
                class="event-name"
                >{{ showableEvent.event.title }}</a
              >
            </div>
            <div class="details">
              <span class="abstract">
                {{ showableEvent.event.eventAbstract === '' ? ('label.na' |
                transloco) : showableEvent.event.eventAbstract }}
              </span>
              <br />
              <br />
              <span class="duration">{{ showableEvent.event.endTime }}</span>
              <span class="location"
                >{{ showableEvent.event.location === '' ? ('label.na' |
                transloco) : showableEvent.event.location }}</span
              >
              <!-- see how to refactor this with a variable or something, not to call the function so much -->
              <span
                *ngIf="
                  getRepetition(showableEvent.event.occurrenceRate).length === 1
                "
                class="repetition"
                >{{ 'label.' +
                getRepetition(showableEvent.event.occurrenceRate)[0] | transloco
                }}</span
              >
              <span
                *ngIf="
                  getRepetition(showableEvent.event.occurrenceRate).length === 3
                "
                class="repetition"
                >{{ 'update-event.repeats.legend.when' | transloco : {
                timesOccurrence: 'label.' + getRepetition(
                showableEvent.event.occurrenceRate )[1] | transloco, times:
                getRepetition( showableEvent.event.occurrenceRate )[2] }
                }}</span
              >
              <span
                *ngIf="
                  getRepetition(showableEvent.event.occurrenceRate).length === 4
                "
                class="repetition"
                >{{ 'update-event.repeats.legend.every' | transloco : {
                everyTime: getRepetition( showableEvent.event.occurrenceRate
                )[2], everyTimesOccurence:
                getRepetition(showableEvent.event.occurrenceRate)[1] |
                transloco, times: getRepetition(
                showableEvent.event.occurrenceRate )[3] } }}</span
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div
  style="float: right; width: 20px; height: 20px"
  (click)="toggleRibbons()"
></div>
