<section class="table-container">
  <header class="header">
    <cbc-pager
      [length]="totalItems"
      [pageSize]="listingOptions.limit"
      [pageIndex]="listingOptions.page"
      (pageChanged)="goToPage($event)"
    ></cbc-pager>
    <cbc-pager-configuration
      (pageSizeChanged)="changeLimit($event)"
    ></cbc-pager-configuration>
  </header>

  <table class="main">
    <thead>
      <tr>
        <th></th>
        <th class="cell-checkbox">
          <input
            type="checkbox"
            name=""
            value=""
            (click)="toggleAllPrepared()"
            [checked]="allSelected"
          />
        </th>
        <td class="col-hidable"></td>
        <th>
          <a (click)="changeSort('name')">{{ 'label.name' | transloco }}</a>
          <span
            class="order-arrow-up"
            *ngIf="listingOptions.sort === 'name_ASC'"
          ></span>
          <span
            class="order-arrow-down"
            *ngIf="listingOptions.sort === 'name_DESC'"
          ></span>
        </th>
        <th class="col-hidable">
          <a (click)="changeSort('archivedBy')"
            >{{ 'label.deleted.by' | transloco }}</a
          >
          <span
            class="order-arrow-up"
            *ngIf="listingOptions.sort === 'archivedBy_ASC'"
          ></span>
          <span
            class="order-arrow-down"
            *ngIf="listingOptions.sort === 'archivedBy_DESC'"
          ></span>
        </th>
        <th class="col-hidable">
          <a (click)="changeSort('archivedDate')"
            >{{ 'label.deleted.date' | transloco }}</a
          >
          <span
            class="order-arrow-up"
            *ngIf="listingOptions.sort === 'archivedDate_ASC'"
          ></span>
          <span
            class="order-arrow-down"
            *ngIf="listingOptions.sort === 'archivedDate_DESC'"
          ></span>
        </th>
        <th> {{ 'label.actions' | transloco }} </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td colspan="7" *ngIf="restorableNodes.length > 0">
          <ul class="bulk-actions">
            <li>
              <cbc-number-badge
                [number]="restorableNodes.length"
              ></cbc-number-badge>
            </li>
            <li>
              <a (click)="restoreNodes()"
                ><img src="img/icon-last-blue.png" />{{ 'label.restore' |
                transloco }}</a
              >
            </li>
            <li>
              <a (click)="purgeNodes()"
                ><img src="img/rubbish-bin-blue-small.png" />{{ 'label.delete' |
                transloco }}</a
              >
            </li>
          </ul>
        </td>
      </tr>

      <tr
        class="row empty-row"
        *ngIf="
          deletedNodes !== undefined && deletedNodes.total === 0 && !loading
        "
      >
        <td colspan="7">
          {{ 'admin.deleted.items.display.none' | transloco }}
        </td>
      </tr>

      <tr class="row empty-row" *ngIf="loading">
        <td class="cell-left-border"></td>
        <td class="cell-checkbox"></td>
        <td class="col-hidable"></td>
        <td class="cell-file-name cell-archive-item-name">
          <div class="file-name">
            {{ 'label.loading' | transloco }}
            <cbc-spinner class="loader"></cbc-spinner>
          </div>
          <ul class="actions">
            <li>&nbsp;</li>
          </ul>
        </td>
        <td class="cell-email" colspan="3"></td>
      </tr>

      <tr
        class="row"
        *ngFor="let archiveNode of deletedNodes.data; trackBy: trackById"
      >
        <td class="cell-left-border"></td>
        <td class="cell-checkbox">
          <input
            type="checkbox"
            [checked]="isPrepared(archiveNode)"
            (click)="prepareRestoreNode(archiveNode)"
          />
        </td>
        <td
          class="cell-icon col-hidable"
          [class.cell-icon--folder]="isFolder(archiveNode)"
          [class.cell-icon--file]="isFile(archiveNode) && !isLink(archiveNode)"
          [class.cell-icon--link]="isLink(archiveNode)"
        >
          <div class="icon"></div>
        </td>
        <td class="cell-file-name cell-archive-item-name">
          <div class="file-name"> {{ archiveNode.name }} </div>
          <ul class="actions">
            <li>&nbsp;</li>
          </ul>
        </td>
        <td class="cell-email col-hidable">
          <cbc-user-card [userId]="archiveNode.deletedBy"></cbc-user-card>
        </td>
        <td class="cell-email col-hidable">
          {{ archiveNode.deletedDate | date: 'yyyy MM dd, HH:mm' }}
        </td>
        <td class="cell-access-level">
          <a
            title="{{ 'label.restore' | transloco }}"
            (click)="restoreNode(archiveNode)"
          >
            <img
              src="img/icon-last-blue.png"
              alt="restore"
              style="vertical-align: middle"
            />
          </a>
          <cbc-inline-delete
            (deletionConfirmed)="purgeNode(archiveNode)"
            [useIcon]="true"
            [useText]="false"
          ></cbc-inline-delete>
        </td>
      </tr>
    </tbody>
  </table>

  <ul
    class="bulk-actions bulk-actions--grey"
    *ngIf="restorableNodes.length > 0"
  >
    <li>
      <cbc-number-badge [number]="restorableNodes.length"></cbc-number-badge>
    </li>
    <li>
      <a (click)="restoreNodes()"
        ><img src="img/icon-last-blue.png" />{{ 'label.restore' | transloco
        }}</a
      >
    </li>
    <li>
      <a (click)="purgeNodes()"
        ><img src="img/rubbish-bin-blue-small.png" />{{ 'label.delete' |
        transloco }}</a
      >
    </li>
  </ul>

  <div class="footer">
    <cbc-pager
      [length]="totalItems"
      [pageSize]="listingOptions.limit"
      [pageIndex]="listingOptions.page"
      (pageChanged)="goToPage($event)"
    ></cbc-pager>
  </div>
</section>

<cbc-restore-item
  [restorableNodes]="restorableNodes"
  [showModal]="showModal"
  [currentIg]="currentIg"
  (cancel)="restoreCanceled()"
  (finish)="restoreFinish($event)"
></cbc-restore-item>
<cbc-purge-item
  [purgeableNodes]="restorableNodes"
  [showModal]="showPurgeModal"
  [currentIg]="currentIg"
  (cancel)="restoreCanceled()"
  (finish)="purgeFinish($event)"
></cbc-purge-item>
