<h2>{{ 'label.details' | transloco }}</h2>
<section *ngIf="user">
  <table style="font-size: 13px">
    <tbody>
      <tr>
        <td class="bold"> {{ 'label.userid' | transloco }}</td>
        <td>{{ user.userId }} </td>
      </tr>
      <tr>
        <td class="bold"> {{ 'label.firstname' | transloco }}</td>
        <td>{{ user.firstname }} </td>
      </tr>
      <tr>
        <td class="bold"> {{ 'label.lastname' | transloco }}</td>
        <td>{{ user.lastname }} </td>
      </tr>
      <tr>
        <td class="bold"> {{ 'label.email' | transloco }}</td>
        <td>{{ user.email }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.postal.address' | transloco }}</td>
        <td>{{ user.properties.address }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.phone' | transloco }}</td>
        <td>{{ user.properties.phone }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.organisation' | transloco }}</td>
        <td>{{ user.properties.organisation }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.title' | transloco }}</td>
        <td>{{ user.properties.title }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.description' | transloco }}</td>
        <td>{{ user.properties.description }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.fax' | transloco }}</td>
        <td>{{ user.properties.fax }} </td>
      </tr>
      <tr *ngIf="user.properties">
        <td class="bold"> {{ 'label.url' | transloco }}</td>
        <td>{{ user.properties.url }} </td>
      </tr>
    </tbody>
  </table>
</section>
