.request-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px 0;
}

cbc-group-request-create-element {
  width: 500px;
}

.dropdown-trigger {
  padding-top: 15px;
}

mat-tab-group {
  flex: 1;
}
