<cbc-modal
  [title]="'admin.header.add'"
  (ok)="addHeader()"
  (cancel)="cancel()"
  [okLabel]="'label.add'"
  [(visible)]="showModal"
>
  <form [formGroup]="headerForm">
    <div class="field">
      <label for="name">{{ 'label.name' | transloco }}</label>
      <input data-cy="name" type="text" id="name" formControlName="name" />
      <cbc-control-message
        *ngIf="headerForm"
        [showInvalid]="true"
        [control]="nameControl"
      ></cbc-control-message>
    </div>
    <cbc-multilingual-input
      data-cy="description"
      formControlName="description"
      [label]="'label.description' | transloco"
      [lang]="'EN'"
    ></cbc-multilingual-input>
    <cbc-control-message
      *ngIf="headerForm"
      [showInvalid]="true"
      [control]="descriptionControl"
    ></cbc-control-message>

    <div class="field" *ngIf="processing">
      <label
        >{{ 'label.creating' | transloco }}...
        <cbc-spinner></cbc-spinner>
      </label>
    </div>
  </form>
</cbc-modal>
