@if (loading) {
<cbc-horizontal-loader />
}

<header class="header">
  <div class="header__actions">
    <a class="cta cta--plus" [routerLink]="['create']"
      >{{ 'label.add' | transloco }}</a
    >
  </div>
  <cbc-pager
    [length]="totalItems"
    [pageSize]="listingOptions.limit"
    [page]="listingOptions.page"
    (pageChange)="goToPage($event)"
  ></cbc-pager>
</header>

<cbc-old-ui-configuration />

@if (templates) {
<ul style="margin-bottom: 20px">
  @for (template of templates.data; track template.id) {
  <li>
    <cbc-template-renderer
      [template]="template"
      (delete)="refresh()"
    ></cbc-template-renderer>
  </li>
  } @if (templates.total === 0) {
  <li class="empty-list">
    <p>{{ 'label.nothing.to.display' | transloco }}</p>
  </li>
  }
</ul>
}

<div class="footer" style="height: 20px">
  <cbc-pager
    [length]="totalItems"
    [pageSize]="listingOptions.limit"
    [page]="listingOptions.page"
    (pageChange)="goToPage($event)"
  ></cbc-pager>
</div>
