.confirmation {
  background-color: #bb3d50;
  padding: 2px 4px;
  border-radius: 5px;
  display: inline-block;
  color: white;

  img {
    vertical-align: middle;
  }

  a {
    color: white !important;
  }
}

.question {
  img {
    vertical-align: middle;
  }
}
