form {
  padding: 10px;
}

.flexField {
  width: 100%;
  margin-top: 3px;

  input {
    width: 100%;
  }
}

.buttons-group {
  margin-top: 20px;
  margin-bottom: 10px;
}

.field {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  width: 515px;
  height: 60px;
}
