.flat-message {
  color: #035;
  padding: 5px;
  align-items: center;

  .flat-message-content {
    text-align: center;

    img {
      margin-right: 15px;
      vertical-align: middle;
    }

    p {
      font-size: 13px;
    }
  }
}
