@use '~css/global/variables-mixins-keyframes';

.g-request {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  border-color: rgb(230 230 230);

  .request-details {
    tr td {
      vertical-align: top;
      padding: 5px 0;
    }
  }

  .label {
    font-weight: bold;
    margin-right: 15px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .big-label {
    min-width: 150px;
    display: inline-block;
  }

  .spacer {
    display: inline-block;
    width: 50px;
  }

  .leaders {
    li {
      display: inline-block;
    }
  }

  aside {
    a {
      margin-right: 15px;
    }

    h4.approved {
      background-color: #8dcb6c;
      color: #fff;
      padding: 10px;
      border-radius: 5px;

      img {
        vertical-align: middle;
        width: 24px;
        margin-right: 15px;
      }
    }

    h4.rejected {
      background-color: rgb(141 47 47 / 1);
      color: #fff;
      padding: 10px;
      border-radius: 5px;

      img {
        vertical-align: middle;
        width: 24px;
        margin-right: 15px;
      }
    }
  }
}

.waiting {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #76a3ad;
  border-left-color: -moz-linear-gradient(
    top,
    variables-mixins-keyframes.$button-border 0%,
    variables-mixins-keyframes.$button-filled 100%
  );
  border-left-color: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, variables-mixins-keyframes.$button-border),
    color-stop(100%, variables-mixins-keyframes.$button-filled)
  );
  border-left-color: -webkit-linear-gradient(
    top,
    variables-mixins-keyframes.$button-border 0%,
    variables-mixins-keyframes.$button-filled 100%
  );
  border-left-color: -o-linear-gradient(
    top,
    variables-mixins-keyframes.$button-border 0%,
    variables-mixins-keyframes.$button-filled 100%
  );
  border-left-color: -ms-linear-gradient(
    top,
    variables-mixins-keyframes.$button-border 0%,
    variables-mixins-keyframes.$button-filled 100%
  );
  border-left-color: linear-gradient(
    to bottom,
    variables-mixins-keyframes.$button-border 0%,
    variables-mixins-keyframes.$button-filled 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#76a3ad',
    endColorstr='#005c78',
    GradientType=0
  );
}

.approved {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #8dcb6c;
  border-left-color: -moz-linear-gradient(
    top,
    variables-mixins-keyframes.$light-green 0%,
    variables-mixins-keyframes.$dark-green 100%
  );
  border-left-color: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, variables-mixins-keyframes.$light-green),
    color-stop(100%, variables-mixins-keyframes.$dark-green)
  );
  border-left-color: -webkit-linear-gradient(
    top,
    variables-mixins-keyframes.$light-green 0%,
    variables-mixins-keyframes.$dark-green 100%
  );
  border-left-color: -o-linear-gradient(
    top,
    variables-mixins-keyframes.$light-green 0%,
    variables-mixins-keyframes.$dark-green 100%
  );
  border-left-color: -ms-linear-gradient(
    top,
    variables-mixins-keyframes.$light-green 0%,
    variables-mixins-keyframes.$dark-green 100%
  );
  border-left-color: linear-gradient(
    to bottom,
    variables-mixins-keyframes.$light-green 0%,
    variables-mixins-keyframes.$dark-green 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#8dcb6c',
    endColorstr='#58c37e',
    GradientType=0
  );
}

.rejected {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: rgb(141 47 47 / 1);
  border-left-color: -moz-linear-gradient(
    top,
    variables-mixins-keyframes.$light-red 0%,
    variables-mixins-keyframes.$dark-red 100%
  );
  border-left-color: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, variables-mixins-keyframes.$light-red),
    color-stop(100%, variables-mixins-keyframes.$dark-red)
  );
  border-left-color: -webkit-linear-gradient(
    top,
    variables-mixins-keyframes.$light-red 0%,
    variables-mixins-keyframes.$dark-red 100%
  );
  border-left-color: -o-linear-gradient(
    top,
    variables-mixins-keyframes.$light-red 0%,
    variables-mixins-keyframes.$dark-red 100%
  );
  border-left-color: -ms-linear-gradient(
    top,
    variables-mixins-keyframes.$light-red 0%,
    variables-mixins-keyframes.$dark-red 100%
  );
  border-left-color: linear-gradient(
    to bottom,
    variables-mixins-keyframes.$light-red 0%,
    variables-mixins-keyframes.$dark-red 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr='#8dcb6c',
    endColorstr='#58c37e',
    GradientType=0
  );
}
