<div
  class="news-card"
  [class.important]="isImportant()"
  [class.reminder]="isReminder()"
  [class.news-card--height-2]="isIframe()"
>
  <div class="container" *ngIf="!isIframe()">
    <section
      *ngIf="isImage() || isDocument() || isDate()"
      class="news-complement"
    >
      <div
        *ngIf="isImage()"
        class="imageContainer"
        [style.backgroundPositionX]="'center'"
        [style.backgroundPositionY]="'center'"
        [style.backgroundSize]="'cover'"
        [style.backgroundImage]="
          prepareUrl(getNewsFileId() | cbcDownload | cbcSecure)
        "
      >
      </div>

      <div *ngIf="news?.properties && isDate()" class="dayContainer">
        <span class="dayDate"
          >{{ news?.properties?.newsDate | date: 'dd' }}</span
        >
        <br />
        <span class="monthDate"
          >{{ news?.properties?.newsDate | date: 'MMM yyyy' }}</span
        >
      </div>
      <div *ngIf="isDocument()" class="docContainer">
        <img src="img/bigicon-file.png" title="file" />
        <br />
        {{ 'label.attached.file' | transloco }}
        <br />
        <section class="fileLink">
          <a (click)="saveFile()">{{ getNewsFileName() }}</a>
        </section>
      </div>
    </section>
    <section
      class="metadata-created"
      *ngIf="!isIframe()"
      [class.more-margin]="!(isImage() || isDate() || isDocument())"
    >
      <span class="metadata-author" *ngIf="news?.properties && !isIframe()">
        {{ 'label.by' | transloco }}
        <cbc-user-card
          [disabled]="true"
          [userId]="news?.properties?.modifier"
        ></cbc-user-card>
      </span>
      {{ getDate() | date: 'MMMM d yyyy HH:mm' }}
    </section>
    <header *ngIf="titleIsNotEmpty()">
      <img
        class="news-icon"
        src="img/school-calendar-green-32.png"
        alt="reminder.png"
        *ngIf="isReminder()"
      />
      <img
        class="news-icon"
        src="img/error-triangle-orange-32.png"
        alt="imporant.png"
        *ngIf="isImportant()"
      />
      {{ news?.title | cbcI18n }}
    </header>
    <section class="content" [innerHTML]="getSanitizedContent()"> </section>
  </div>

  <iframe
    *ngIf="news?.properties && isIframe() && hasValidUrl()"
    [src]="news?.properties?.newsUrl | cbcSafe"
  ></iframe>
  <div class="container" *ngIf="isIframe() && !hasValidUrl()">
    <p>{{ 'label.invalid.url' | transloco }}</p>
  </div>
</div>
