<div
  class="news-card"
  [class.important]="isImportant()"
  [class.reminder]="isReminder()"
  [class.news-card--height-2]="isIframe()"
>
  @if (!isIframe()) {
  <div class="container">
    @if (isImage() || isDocument() || isDate()) {
    <section class="news-complement">
      @if (isImage()) {
      <div
        class="imageContainer"
        [style.backgroundPositionX]="'center'"
        [style.backgroundPositionY]="'center'"
        [style.backgroundSize]="'cover'"
        [style.backgroundImage]="
          prepareUrl(getNewsFileId() | cbcDownload | cbcSecure)
        "
      >
      </div>
      } @if (news?.properties && isDate()) {
      <div class="dayContainer">
        <span class="dayDate"
          >{{ news?.properties?.newsDate | date: 'dd' }}</span
        >
        <br />
        <span class="monthDate"
          >{{ news?.properties?.newsDate | date: 'MMM yyyy' }}</span
        >
      </div>
      } @if (isDocument()) {
      <div class="docContainer">
        <img src="img/bigicon-file.png" title="file" alt="file" />
        <br />
        {{ 'label.attached.file' | transloco }}
        <br />
        <section class="fileLink">
          <a tabindex="0" (click)="saveFile()">{{ getNewsFileName() }}</a>
        </section>
      </div>
      }
    </section>
    } @if (!isIframe()) {
    <section
      class="metadata-created"
      [class.more-margin]="!(isImage() || isDate() || isDocument())"
    >
      @if (news?.properties && !isIframe()) {
      <span class="metadata-author">
        {{ 'label.by' | transloco }}
        <cbc-user-card
          [disabled]="true"
          [userId]="news?.properties?.modifier"
        ></cbc-user-card>
      </span>
      } {{ getDate() | date: 'MMMM d yyyy HH:mm' }}
    </section>
    } @if (titleIsNotEmpty()) {
    <header>
      @if (isReminder()) {
      <img
        class="news-icon"
        src="img/school-calendar-green-32.png"
        alt="reminder.png"
      />
      } @if (isImportant()) {
      <img
        class="news-icon"
        src="img/error-triangle-orange-32.png"
        alt="imporant.png"
      />
      } {{ news?.title | cbcI18n }}
    </header>
    }
    <section class="content" [innerHTML]="getSanitizedContent()"> </section>
  </div>
  } @if (news?.properties && isIframe() && hasValidUrl()) {
  <iframe
    [src]="news?.properties?.newsUrl | cbcSafe"
    title="News Content"
  ></iframe>
  } @if (isIframe() && !hasValidUrl()) {
  <div class="container">
    <p>{{ 'label.invalid.url' | transloco }}</p>
  </div>
  }
</div>
