@if (groupPath) {
<ul>
  <li>
    <a [routerLink]="['/explore']" [queryParams]="{ start: 'ok' }">
      <img src="img/icon-dashboard-grey.png" alt="Dashboard Icon" />
    </a>
  </li>
  @if (groupPath.header) {
  <li>
    <a
      [routerLink]="['/explore']"
      [queryParams]="{ headerId: groupPath.header.id }"
    >
      @if (groupPath.header.description) {
      <span>
        {{ ('en' | i18nSelect: groupPath.header.description) === '' ?
        groupPath.header.name : ('en' | i18nSelect:
        groupPath.header.description) }}
      </span>
      } @if (!groupPath.header.description) {
      <span> {{ groupPath.header.name }} </span>
      }
    </a>
  </li>
  }
  <li>&gt;</li>
  @if (groupPath.header && groupPath.category) {
  <li>
    <a
      [routerLink]="['/explore']"
      [queryParams]="{
        headerId: groupPath.header.id,
        categoryId: groupPath.category.id
      }"
    >
      @if (groupPath.category.title) {
      <span>
        {{ (groupPath.category.title | cbcI18n) !== '' ?
        (groupPath.category.title | cbcI18n) : ('en' | i18nSelect:
        groupPath.category.title) !== '' ? ('en' | i18nSelect:
        groupPath.category.title) : groupPath.category.name }}
      </span>
      } @if (!groupPath.category.title) {
      <span> {{ groupPath.category.name }} </span>
      }
    </a>
  </li>
  }
  <li>&gt;</li>
  @if (groupPath.group) {
  <li>
    @if (groupPath.group.title) {
    <span>
      {{ (groupPath.group.title | cbcI18n) !== '' ? (groupPath.group.title |
      cbcI18n) : ('en' | i18nSelect: groupPath.group.title) !== '' ? ('en' |
      i18nSelect: groupPath.group.title) : groupPath.group.name }}
    </span>
    } @if (!groupPath.group.title) {
    <span> {{ groupPath.group.name }} </span>
    }
  </li>
  }
</ul>
}
