<section class="group-box">
  @if (membership && membership.profile) {
  <div class="profile">
    <strong>{{ membership.profile.title | cbcI18n }}</strong>
    <br />
    {{ membership.profile.name }}
  </div>
  } @if (membership && membership.interestGroup) {
  <div class="group">
    <strong>{{ membership.interestGroup.title | cbcI18n }}</strong>
    <br />
    <a [routerLink]="['/group', membership.interestGroup.id]"
      >{{ membership.interestGroup.name }}</a
    >
  </div>
  }
  <div class="actions">
    <cbc-inline-delete
      [deleteLabel]="'label.remove' | transloco"
      (deletionConfirmed)="uninviteUSer()"
    ></cbc-inline-delete>
  </div>
</section>
