<div class="cta cta--plus dropdown-trigger" (click)="toggleAddDropdown($event)">
  {{ 'label.create' | translate }}
  <div class="dropdown dropdown--add-file adjust" *ngIf="showCreateDropdown">
    <ul>
      <li *ngIf="enableCreateEvent">
        <a class="event" (click)="launchCreateEventWizard()">{{
          'label.event' | translate
        }}</a>
      </li>
      <li *ngIf="enableCreateMeeting">
        <a class="meeting" (click)="launchCreateMeetingWizard()">{{
          'label.meeting' | translate
        }}</a>
      </li>
    </ul>
  </div>
</div>
