@if (showModal()) {
<div
  class="black-overlayer"
  [class.overlayer-shown]="showModal()"
  [class.overlayer-hidden]="!showModal()"
></div>
} @if (showModal()) {
<section
  class="modal modal--select-files"
  [class.modal-shown]="showModal()"
  [class.modal-hidden]="!showModal()"
  style="margin-top: 0"
>
  <button
    type="button"
    class="close-icon"
    aria-label="{{ 'label.cancel' | transloco }}"
    (click)="cancel()"
  ></button>
  <header>
    <h2 class="title">
      {{ 'members.application.submit.form.title' | transloco }}
    </h2>
  </header>
  <section class="modal-content">
    <p
      style="margin-top: 0"
      [innerHTML]="'members.application.submit.form.explanation' | transloco"
    ></p>
    <form [formGroup]="applicationForm">
      <div class="field" style="height: 200px">
        <cbc-rich-text-editor formControlName="message" editorHeight="320px"
          ><span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-italic" aria-label="Italic"></button>
            <button class="ql-underline" aria-label="Underline"></button>
            <button class="ql-strike" aria-label="Strike"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-list" aria-label="list" value="ordered"></button>
            <button class="ql-list" aria-label="list" value="bullet"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-blockquote" aria-label="Strike"></button>
            <button class="ql-link" aria-label="link"></button> </span
        ></cbc-rich-text-editor>
      </div>
      <br />
      <br />
      @if (processing()) {
      <div class="field">
        <span
          >{{ 'label.submitting' | transloco }}...
          <cbc-spinner></cbc-spinner>
        </span>
      </div>
      }
    </form>
  </section>
  <section class="modal-footer">
    <!-- Buttons -->
    @if (!processing()) {
    <div class="buttons-group">
      <a tabindex="0" class="cta" (click)="submitApplication()"
        >{{ 'label.submit' | transloco }}</a
      >
      <a
        tabindex="0"
        class="button"
        (click)="cancel()"
        (keydown.enter)="cancel()"
        >{{ 'label.cancel' | transloco }}</a
      >
    </div>
    }
  </section>
</section>
}
