<section class="user">
  <div class="avatar">
    <img
      *ngIf="user.avatar"
      [attr.src]="user.avatar | cbcDownload | cbcSecure"
      alt="avatar"
    />
    <img *ngIf="!user.avatar" src="img/contact-info.png" />
  </div>
  {{ user.firstname }}<br />
  {{ user.lastname }}<br />
  <a href="mailto:{{ user.email }}">{{ user.email }}</a>
  <br *ngIf="showDelete" />
  <a class="remove" *ngIf="showDelete" (click)="onRemoveClick()"
    >{{ 'label.remove' | transloco }}</a
  ><br />
</section>
