<section class="user">
  <div class="avatar">
    @if (user.avatar) {
    <img [attr.src]="user.avatar | cbcDownload | cbcSecure" alt="avatar" />
    } @if (!user.avatar) {
    <img src="img/contact-info.png" alt="default avatar" />
    }
  </div>
  {{ user.firstname }}<br />
  {{ user.lastname }}<br />
  <a href="mailto:{{ user.email }}">{{ user.email }}</a>
  @if (showDelete()) {
  <br />
  } @if (showDelete()) {
  <a tabindex="0" class="remove" (click)="onRemoveClick()"
    >{{ 'label.remove' | transloco }}</a
  >
  }<br />
</section>
