<div class="cta cta--dots dropdown-trigger">
  {{ 'label.actions' | transloco }}
  <div class="dropdown dropdown--add-file" *ngIf="showActionsDropdown">
    <ul>
      <li>
        <a
          class="contact"
          [routerLink]="['./contact-category']"
          [queryParams]="{
          header: currentHeader ? currentHeader.id : '',
          category: currentCategory ? currentCategory.id : ''
        }"
        >
          {{ 'label.contact.category.admins' | transloco }}
        </a>
      </li>
      <li>
        <a
          class="request--group"
          [routerLink]="['./group-request']"
          [queryParams]="{
            header: currentHeader ? currentHeader.id : '',
            category: currentCategory ? currentCategory.id : ''
          }"
        >
          {{ 'label.request.interest-group' | transloco }}
        </a>
      </li>
    </ul>
  </div>
</div>
