<div class="personal-menu">
  <span class="personal-menu__name">
    <a
      [routerLink]="['/login']"
      style="color: #fff"
      *ngIf="isGuest() && !useEULogin"
      >{{ 'label.login' | transloco }}</a
    >
    <a (click)="euLogin()" style="color: #fff" *ngIf="isGuest() && useEULogin"
      >{{ 'label.login' | transloco }}</a
    >
    <span style="color: #fff" *ngIf="isUser()"
      >{{ user.firstname + ' ' + user.lastname }}</span
    >
  </span>
  <span *ngIf="isGuest()" class="ctn-img">
    <img src="img/thumbnail-profile.png" alt="Guest" class="img-default" />
    <a (click)="euLogin()" style="color: #fff" *ngIf="isGuest() && useEULogin"
      ><img src="img/thumbnail-profile.png" alt="Guest"
    /></a>
    <a
      [routerLink]="['/login']"
      style="color: #fff"
      *ngIf="isGuest() && !useEULogin"
      ><img src="img/thumbnail-profile.png" alt="Guest"
    /></a>
  </span>
  <span *ngIf="isUser()" class="ctn-img">
    <img
      *ngIf="user.lastname"
      [attr.src]="user.avatar | cbcDownload | cbcSecure"
      alt="Guest"
    />
  </span>
  <!-- DEMO DROPDOWN MENU -->
  <div class="dropdown dropdown--personal-menu" *ngIf="!isGuest()">
    <section class="dropdown--personal-menu__sidebar">
      <nav>
        <div class="links-group">
          <a [routerLink]="['/me/account']"
            >{{ 'personal-menu.account' | transloco }}</a
          >
        </div>

        <div class="links-group">
          <a [routerLink]="['/me']">{{ 'label.dashboard' | transloco }}</a>
          <a [routerLink]="['/me/calendar']"
            >{{ 'personal-menu.calendar' | transloco }}</a
          >
          <a [routerLink]="['/me/roles']">{{ 'label.my.roles' | transloco }}</a>
        </div>

        <div class="links-group">
          <a [routerLink]="['/login/logout']"
            >{{ 'label.logout' | transloco }}</a
          >
        </div>
      </nav>
    </section>
  </div>
</div>
