<div class="box box--alternate-lines">
  <div class="main main--listing">
    <ul>
      <li class="row" style="padding: 0px"></li>
      @for (group of interestGroups; track group.id) {
      <li data-cy="groups" class="row">
        <a [routerLink]="['/group', group.id]" class="group-title"
          >{{ getNameOrTitle(group) }}</a
        >
        <br />
        <span class="grey-name"> {{ group.name }} </span>
      </li>
      } @if (interestGroups.length === 0) {
      <li class="row">
        <p> {{ 'label.nothing.to.display' | transloco }} </p>
      </li>
      }
    </ul>
  </div>
</div>
