<!-- MODAL BOX -->
@if (showModal) {
<div
  class="black-overlayer"
  [class.overlayer-shown]="showModal"
  [class.overlayer-hidden]="!showModal"
></div>
}
<section
  class="modal"
  [class.modal-shown]="showModal"
  [class.modal-hidden]="!showModal"
  style="margin-top: 0"
>
  <a
    tabindex="0"
    role="button"
    class="close-icon"
    aria-label="Close"
    (click)="close()"
  ></a>
  <header>
    <h2 class="title">{{ historyText() }}</h2>
  </header>
  <section class="modal-content table-container">
    <div class="wrapping scroll-body">
      <table class="main no-border-spacing">
        <thead style="color: #035">
          <tr>
            <th>
              <label>{{ 'label.date' | transloco }}</label>
            </th>
            <th>
              <label>{{ 'label.user.id' | transloco }}</label>
            </th>
            <th>
              <label>{{ 'label.service' | transloco }}</label>
            </th>
            <th>
              <label>{{ 'label.activity' | transloco }}</label>
            </th>
            <th>
              <label>{{ 'label.status' | transloco }}</label>
            </th>
          </tr>
        </thead>
        <tbody>
          @if (historyEntries !== undefined) {
          <tr class="row empty-row">
            @if (historyEntries.length === 0) {
            <td colspan="5">{{ 'label.no.history' | transloco }}</td>
            }
          </tr>
          } @for (historyEntry of historyEntries; track historyEntry) {
          <tr class="row left-text">
            <td>{{ historyEntry.logDate }}</td>
            <td>{{ historyEntry.userId }}</td>
            <td>{{ historyEntry.serviceDescription }}</td>
            <td>{{ historyEntry.activityDescription }}</td>
            <td>
              {{ (historyEntry.success === true ? 'label.success' :
              'label.failure') | transloco }}
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
</section>
