<section *ngIf="loading">
  <cbc-spinner></cbc-spinner>
  <header> {{ 'dashboard.' + when + '.highlights' | transloco }} </header>
  <p class="loadingPanel"> {{ 'dashboard.loading.text' | transloco }} </p>
</section>
<section *ngIf="error">
  <p class="loadingPanel">
    <img src="img/error-triangle-orange-16.png" />&nbsp;{{
    'dashboard.timeline.loading.error' | transloco: { period: when } }}
  </p>
</section>

<cbc-timeline-step
  *ngIf="userFeed && !loading"
  [userFeed]="userFeed"
  [when]="when"
></cbc-timeline-step>
