.main {
  padding-bottom: 50px !important;
}

.field--date {
  min-height: 39px;
}

::ng-deep mat-slide-toggle .mat-slide-toggle-label {
  width: auto;
  padding: 0 10px;
}

.expired {
  ::ng-deep .p-calendar-w-btn .p-inputtext {
    border-block-color: red;
  }
}
