.right-back {
  float: right;
  margin-right: 40px;
}

.space-top-middle {
  margin-top: 80px;
  margin-bottom: 115px;
}

.img-border {
  padding: 1px;
  border: 1px solid #757575;
  background-color: #fff;
}
