@use 'sass:color';
@use '../global/variables-mixins-keyframes';

.calendar-container {
  margin: 25px -5px;

  .header {
    background: rgb(255 255 255 / 0.5);
    padding: 10px 12px;
    margin: 0 5px;
    border-radius: 3px 3px 0 0;
    min-height: 46px;

    input[type='text'] {
      width: inherit;
      height: 25px;
      padding: 0 5px;
    }

    .ui-inputtext {
      width: inherit;
      height: 25px;
      padding: 0 5px;
    }

    .nav-months {
      font-size: 0;
      float: left;

      .buttons {
        display: inline-block;
        border-radius: 3px;
        overflow: hidden;
        vertical-align: middle;
      }

      .previous-month {
        background-image: url(^img/arrow-left.png);
      }

      .next-month {
        background-image: url(^img/arrow-right.png);
      }

      .previous-month,
      .next-month {
        font-size: 12px;
        display: inline-block;
        text-indent: -9999px;
        background-color: variables-mixins-keyframes.$button-filled;
        background-position: center center;
        background-repeat: no-repeat;
        color: #fff;
        height: 25px;
        width: 38px;
        border-radius: 3px;

        &:hover {
          background-color: color.adjust(variables-mixins-keyframes.$button-filled, $lightness: 4%);
        }
      }

      .current-month {
        font-size: 13px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px;
        color: variables-mixins-keyframes.$textAAA;
        text-align: center;
        width: 150px;
      }

      .current-day {
        @extend .current-month;

        width: 180px;
      }

      .current-week {
        @extend .current-month;

        width: 240px;
      }
    }

    .float-right {
      margin-right: -15px;
    }

    .select--filter {
      margin-left: 15px;
      position: relative;
      top: 2px;
      font-size: 13px;
      display: inline-block;
      vertical-align: middle;
    }

    .icons {
      float: right;
      position: relative;
      top: 6px;

      a {
        margin-left: 5px;
      }
    }
  }

  .main {
    &,
    tbody,
    .week {
      width: 100%;
      border-collapse: separate;
      border-spacing: 5px;
    }

    .day {
      position: relative;
      vertical-align: top;
      width: 14.28%;
      background: #fff;
      border-radius: 3px;
      margin: 4px;
      height: 112px;
      padding: 8px;
      font-size: 12px;
      flex-grow: 1;

      &:hover {
        box-shadow: 0 0 20px rgb(0 0 0 / 0.3);
      }

      .date {
        text-align: right;
        color: variables-mixins-keyframes.$textAA;
      }
    }

    .day--previous-month,
    .day--next-month,
    .today,
    .weekend-day {
      background: rgb(255 255 255 / 0.5);
    }

    .today {
      background: rgb(220 230 240 / 0.5);
      box-shadow: 0 0 20px rgb(0 0 0 / 0.3);
      font-weight: bold;
    }

    .weekend-day {
      background: rgb(227 236 244 / 1);
    }
  }
}
