@use 'css/global/variables-mixins-keyframes';

.logo-box {
  display: flex;
  align-items: center;
}

.eu-logo {
  height: 40px;
  border: 1px solid #fff;
}

.app-logo {
  padding: 4px 10px;
  height: 30px;
}

@media screen and (max-width: variables-mixins-keyframes.$break-tiny) {
  .eu-logo {
    display: none;
  }
}
