<section class="tab-actions">
  @if (categoryId()) {
  <a tabindex="0" class="cta cta--plus" (click)="showModal.set(true)"
    >{{ 'admin.category.invite.title' | transloco }}</a
  >
  }
</section>
<section class="table-container">
  <table class="main">
    <thead>
      <tr>
        <th><span class="visually-hidden">Actions</span></th>
        <th>
          <span class="visually-hidden">Profile picture</span>
        </th>
        <th> {{ 'label.firstname' | transloco }} </th>
        <th> {{ 'label.lastname' | transloco }} </th>
        <th class="col-hidable"> {{ 'label.email' | transloco }} </th>
      </tr>
    </thead>

    <tbody>
      @if (administrators() !== undefined) {
      <tr class="row empty-row">
        @if (administrators().length === 0) {
        <td colspan="5">{{ 'members.display.none' | transloco }}</td>
        }
      </tr>
      } @for (admin of administrators(); track admin.userId) {
      <tr class="row">
        <td class="cell-left-border"></td>
        <td class="cell-photo">
          <div class="photo">
            <img
              [attr.src]="admin.avatar | cbcDownload | cbcSecure"
              alt="avatar"
              width="50"
              height="50"
            />
          </div>
        </td>
        <td class="cell-file-name">
          <div class="file-name">{{ admin.firstname }}</div>
          <div class="actions" style="font-size: 11px">
            @if (canDeleteAdmin(admin)) {
            <cbc-inline-delete
              (deletionConfirmed)="uninviteUser(admin)"
            ></cbc-inline-delete>
            }
          </div>
        </td>
        <td class="cell-lastname">{{ admin.lastname }}</td>
        <td class="cell-email" class="col-hidable">{{ admin.email }}</td>
      </tr>
      }
    </tbody>
  </table>
</section>

@if (categoryId()) {
<cbc-add-category-administrator
  [showModal]="showModal()"
  [categoryId]="categoryId()"
  (modalHide)="refresh($event)"
/>
}
