<cbc-modal
  [executing]="removing"
  [executingLabel]="'label.removing'"
  [cancelLabel]="'label.cancel'"
  [okLabel]="'label.remove'"
  [title]="'label.remove.membership'"
  (cancelModal)="cancelWizard('close')"
  (ok)="uninviteMember()"
  [visible]="showDialog"
>
  @if (user) {
  <section class="modal-content">
    {{ 'memberships.remove.question.part.1' | transloco }}
    <span style="font-weight: bold"
      >{{ user.firstname + ' ' + user.lastname }}</span
    >
    {{ 'memberships.remove.question.part.2' | transloco }}
  </section>
  }
</cbc-modal>
