{{ 'admin.tab.security.title' | transloco: { groupName: ig?.name } | cbcSetTitle
}}
<h2>{{ 'admin.security.page.title' | transloco }}</h2>
<form [formGroup]="securityForm">
  <div class="field">
    <label for="name">{{ 'label.visibility' | transloco }}</label>
    <input
      type="range"
      id="library"
      formControlName="visibility"
      min="0"
      max="2"
      step="1"
    />
    <span>
      @if (isGuestVisible()) {
      <img
        class="hint-icon"
        src="img/earth-medium-grey.png"
        alt="Guest visibility icon"
      />
      } @if (isRegisteredVisible()) {
      <img
        class="hint-icon"
        src="img/multiple-users-silhouette.png"
        alt="Registered visibility icon"
      />
      } @if (isPrivateVisible()) {
      <img
        class="hint-icon"
        src="img/invisible-medium-grey.png"
        alt="Private visibility icon"
      />
      } {{ getVisibilityLabel() | transloco }}
    </span>
    @if (isGuestVisible()) {
    <p
      class="field--hint"
      [innerHtml]="'admin.security.visibility.guest.help.on' | transloco"
    >
    </p>
    } @if (isRegisteredVisible()) {
    <p
      class="field--hint"
      [innerHtml]="'admin.security.visibility.registered.help.on' | transloco"
    >
    </p>
    } @if (isPrivateVisible()) {
    <p
      class="field--hint"
      [innerHtml]="'admin.security.visibility.private.help.on' | transloco"
    >
    </p>
    }
  </div>
  <div class="field--separator"></div>
  @if (isRegisteredVisible() || isGuestVisible()) {
  <div class="field switch">
    <div class="label">{{ 'admin.security.applicants' | transloco }}</div>
    <input
      id="cmn-toggle-3"
      class="cmn-toggle cmn-toggle-round"
      type="checkbox"
      formControlName="applicants"
    />
    <label for="cmn-toggle-3" class="nonBlockLabel"></label>
    @if (ig) {
    <span>{{ getApplicantsYesNoLabel() | transloco }}</span>
    }
    <p
      class="field--hint"
      [innerHtml]="
        'admin.security.applicants.help.' + getApplicantsYesNoLabel()
          | transloco
      "
    >
    </p>
  </div>
  } @if (saving) {
  <div class="field">
    <div
      >{{ 'label.saving' | transloco }}...
      <cbc-spinner></cbc-spinner>
    </div>
  </div>
  }
</form>
@if (!saving) {
<div class="buttons-group">
  <a tabindex="0" class="cta" (click)="save()"
    >{{ 'label.save' | transloco }}</a
  >
  <a tabindex="0" class="button" (click)="cancel()"
    >{{ 'label.cancel' | transloco }}</a
  >
</div>
}
