.number-badge {
  display: inline-block;
  min-width: 22px;
  height: 22px;
  padding: 4px;
  border-radius: 11px;
  background-color: #58c37e;
  color: #fff;
  text-align: center;
  font-size: 10px;
}
