.right-actions {
  float: right;
}

.mail-list {
  li {
    input[type='checkbox'] {
      margin: 5px 15px;
    }

    span.distribution-mail {
      display: inline-block;
      min-width: 450px;
    }
  }
}

.footer {
  min-height: 25px;
}

.selection-actions::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(^img/arrow-bulk-actions.png);
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-right: 10px;
}
