.selector-compact {
  padding: 3px;
  border: 0.5px solid #fff;
  border-radius: 10px;

  a {
    display: flex;
    align-items: center;
    gap: 3px;

    .lang-indicator {
      text-transform: uppercase;
      color: #fff;
    }

    .iconWorldToggle {
      width: 20px;
      content: url(^img/earth-white.svg);
    }

    .iconArrow {
      rotate: -90deg;
      width: 8px;
      height: 8px;
      content: url(^img/arrow-white.svg);
    }
  }
}

.expanded {
  background-color: #fff;

  a {
    .lang-indicator {
      color: #035;
    }

    .iconWorldToggle {
      content: url(^img/earth-blue.svg);
    }

    .iconArrow {
      rotate: 90deg;
      content: url(^img/arrow-blue.svg);
    }
  }
}

.iconColorOnlyBlue {
  border: 0.5px solid #035;

  a {
    .lang-indicator {
      color: #035;
    }

    .iconWorldToggle {
      content: url(^img/earth-blue.svg);
    }

    .iconArrow {
      rotate: 90deg;
      content: url(^img/arrow-blue.svg);
    }
  }
}

.iconArrowBlue {
  rotate: -90deg;
}

menu {
  line-height: 20px;
  height: 20px;
  font-size: 15px;
  min-height: 20px;

  .languageName {
    text-transform: capitalize;
  }

  .languageCode {
    text-transform: uppercase;
  }

  span {
    color: var(--theme-link);
    font-size: 10px;
  }
}

select {
  width: 100%;
}
