<div [formGroup]="form" style="display: flex">
  @if (!compactMode()) {
  <select
    #languages
    (change)="onLanguageChange(languages.value)"
    [value]="currentLang"
    formControlName="lang"
  >
    @if(noSelectLangOption()){
    <option value=""></option>
    } @for (lang of availableLang; track lang.code) {
    <option value="{{ lang.code }}">{{ lang.name }} ({{ lang.code }})</option>
    }
  </select>
  } @if (compactMode()) {

  <div
    class="selector-compact"
    [class.expanded]="expanded"
    [class.iconColorOnlyBlue]="iconColorOnlyBlue()"
  >
    <a
      [matMenuTriggerFor]="menu"
      (menuOpened)="expand()"
      (menuClosed)="collapse()"
      title="{{ 'label.language' | transloco }}-{{ currentLang }}"
      role="button"
    >
      <img class="iconWorldToggle" alt="" />
      <span class="lang-indicator">{{ currentLang }}</span>
      <img class="iconArrow" alt="" />
    </a>
  </div>

  <mat-menu #menu="matMenu">
    @for (lang of availableLang; track lang.code) {
    <menu tabindex="0" mat-menu-item (click)="onLanguageChange(lang.code)">
      <span class="languageName">{{ lang.name }}</span>
      <span class="languageCode">({{ lang.code }})</span>
    </menu>
    }
  </mat-menu>
  }
</div>
