<cbc-modal
  [title]="
    property === undefined ? 'dynamic-property.add' : 'dynamic-property.update'
  "
  (ok)="property === undefined ? create() : update()"
  (cancel)="cancelWizard()"
  [okLabel]="property === undefined ? 'label.add' : 'label.update'"
  [(visible)]="showModal"
  [(executing)]="creating"
  [executingLabel]="'label.adding'"
  [showOkButton]="canCreateOrUpdate()"
>
  <!-- Create -->
  <div *ngIf="property === undefined">
    <form [formGroup]="createForm">
      <div class="field">
        <label for="propertyType">{{ 'label.type' | transloco }}</label>
        <div class="custom-select select--form">
          <select id="propertyType" formControlName="propertyType" required>
            <option *ngFor="let t of getTypes()" value="{{ t.type }}"
              >{{ t.display }}</option
            >
          </select>
        </div>
        <cbc-control-message
          [control]="propertyTypeControl"
        ></cbc-control-message>
      </div>
      <cbc-multilingual-input
        formControlName="title"
        [label]="'Title'"
        [placeholder]="'Title'"
        [lang]="'EN'"
      ></cbc-multilingual-input>
      <cbc-control-message [control]="titleControl"></cbc-control-message>
      <div
        class="field field--textarea"
        *ngIf="
          createForm.value.propertyType === 'SELECTION' ||
          createForm.value.propertyType === 'MULTI_SELECTION'
        "
      >
        <label for="possibleValues">{{ 'label.values' | transloco }}</label>
        <textarea
          id="possibleValues"
          formControlName="possibleValues"
        ></textarea>
        <span class="hint">{{ 'label.value.one.per.line' | transloco }}</span>
      </div>
    </form>
  </div>

  <!-- Update -->
  <div *ngIf="property !== undefined" class="main">
    <a
      class="step-link"
      [class.step-link-selected]="showDefinition"
      (click)="showDefinition = true"
      >{{ 'label.definition' | transloco }}</a
    >
    <a
      class="step-link"
      [class.step-link-selected]="!showDefinition"
      (click)="showDefinition = false"
      *ngIf="hasValues()"
      >{{ 'label.values' | transloco }}</a
    >
    <br />
    <br />
    <section [class.hidden]="!showDefinition">
      <form [formGroup]="editDynPropForm">
        <cbc-multilingual-input
          formControlName="title"
          [label]="'label.title' | transloco"
          [placeholder]="'label.title' | transloco"
          [lang]="'EN'"
        ></cbc-multilingual-input>
        <div class="field">
          <label for="type">{{ 'label.type' | transloco }}</label>
          <div class="custom-select select--form reset-width select-align">
            <select id="type" formControlName="type">
              <option *ngFor="let t of getTypes()" value="{{ t.type }}"
                >{{ t.display }}</option
              >
            </select>
          </div>
          <p class="hint"
            >{{ 'dynamic-property.input.disabled' | transloco }}</p
          >
        </div>
      </form>
    </section>
    <section [class.hidden]="showDefinition" class="table-container">
      <form [formGroup]="newValueForm">
        <div class="field">
          <label for="newValue">{{ 'label.value' | transloco }}</label>
          <input type="text" id="newValue" formControlName="newValue" />
          <input
            type="submit"
            (click)="currentIndex === -1 ? addValue() : finishEdit()"
            value="{{
              (currentIndex === -1 ? 'label.add' : 'label.save') | transloco
            }}"
            [disabled]="!newValueFormValid()"
            [class.disabled]="!newValueFormValid()"
          />
          <a class="button" (click)="cancelAddValue()"
            >{{ 'label.cancel' | transloco }}</a
          >
        </div>
      </form>
      <table class="main">
        <thead>
          <tr>
            <th></th>
            <th class="first-cell">{{ 'label.values' | transloco }}</th>
            <th style="width: 150px">{{ 'label.actions' | transloco }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of values" class="row">
            <td class="cell-left-border"></td>
            <td class="first-cell">
              <span class="tag" *ngIf="item.status === 'deleted'"
                >{{ 'label.removed' | transloco }}</span
              >
              <span class="tag" *ngIf="item.status === 'new'"
                >{{ 'label.new' | transloco }}</span
              >
              <span class="tag" *ngIf="item.status === 'edited'"
                >{{ 'label.edited' | transloco }}</span
              >
              <span [class.striked]="item.status === 'deleted'"
                >{{ item._new }}</span
              >
            </td>
            <td class="row-actions">
              <a>
                <img
                  src="img/sort-up.png"
                  (click)="moveUp(item)"
                  title="{{ 'label.move.up' | transloco }}"
                />
              </a>
              <a>
                <img
                  src="img/sort-down.png"
                  (click)="moveDown(item)"
                  title="{{ 'label.move.down' | transloco }}"
                />
              </a>
              &nbsp;&nbsp;
              <a>
                <img
                  src="img/icon-edit-20x20.png"
                  (click)="tagAsEdited(item)"
                  title="{{ 'label.edit' | transloco }}"
                />
              </a>
              <a>
                <img
                  src="img/undo-arrow-3355.png"
                  height="15"
                  width="15"
                  (click)="resetEdited(item)"
                  *ngIf="item.status === 'edited'"
                  title="{{ 'label.undo' | transloco }}"
                />
              </a>
              <a>
                <img
                  src="img/icon-close-20x20.png"
                  (click)="tagAsRemoved(item)"
                  title="{{ 'label.delete' | transloco }}"
                />
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <div *ngIf="creating">
      {{ 'label.updating' | transloco }}...
      <cbc-spinner></cbc-spinner>
    </div>
  </div>
</cbc-modal>
