<form [formGroup]="form">
  <section formArrayName="repos" class="grid-container">
    <div class="grid-item">{{ 'label.name' | transloco }}</div>
    <div class="grid-item">{{ 'label.request.on' | transloco }}</div>
    <div class="grid-item">{{ 'label.status' | transloco }}</div>
    <ng-template
      ngFor
      let-repo
      [ngForOf]="form.controls.repos.value"
      let-i="index"
    >
      <div class="grid-item">{{ repo.name }}</div>
      <div class="grid-item">
        {{ repo.requestedOn | date: 'yyyy-MM-dd HH:mm' }}
      </div>
      <div class="grid-item" [formGroupName]="i">
        <mat-slide-toggle
          formControlName="enabled"
          [checked]="repo.enabled"
          (toggleChange)="toggleChange(i)"
        >
        </mat-slide-toggle>
      </div>
    </ng-template>
  </section>
  @if (saving) {
  <div class="field">
    <div
      >{{ 'label.saving' | transloco }}...
      <cbc-spinner></cbc-spinner>
    </div>
  </div>
  }
</form>
@if (!saving) {
<div class="buttons-group">
  <a tabindex="0" class="cta" (click)="save()"
    >{{ 'label.save' | transloco }}</a
  >
  <a tabindex="0" class="button" (click)="cancel()"
    >{{ 'label.cancel' | transloco }}</a
  >
</div>
}
