<strong *ngIf="isRoot">{{ tree.name }}</strong>
<span *ngIf="!isRoot">{{ tree.name }}</span>
<ul *ngIf="tree.children.length > 0">
  <li *ngFor="let child of tree.children"
    ><img src="img/bigicon-folder.png" height="15" width="15" />&nbsp;
    <cbc-structure-tree [tree]="child" [isRoot]="false"></cbc-structure-tree>
  </li>
</ul>
<span *ngIf="tree.children.length === 0 && isRoot"
  ><br /><img
    class="padd"
    src="img/rounded-block-sign.png"
    height="20"
    width="20" /><br
/></span>
