@use '~css/global/variables-mixins-keyframes';

.news-card {
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
  height: 600px;
  position: relative;
  flex: 1;

  .container {
    height: 580px;
    overflow: auto;
    padding: 0 30px;
  }

  header {
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #035;
  }

  .metadata-created,
  .metadata-author {
    font-size: 12px;
    color: #ccc;
  }

  .metadata-created {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;

    .edition-indicator {
      cursor: pointer;
    }

    .original-matatada {
      position: absolute;
      margin-top: 5px;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #efefef;
    }
  }

  .metadata-author {
    float: right;
  }

  .more-margin {
    margin-top: 30px;
  }

  .content {
    font-size: 12px;

    ::ng-deep ol {
      margin-left: 20px;
      list-style-type: decimal;
    }

    ::ng-deep ul {
      margin-left: 20px;
      list-style-type: circle;
    }

    ::ng-deep img {
      max-width: 100%;
      height: auto;
    }
  }

  footer {
    text-align: center;
    width: 100%;
    height: 20px;
    bottom: 0;
    right: 0;
    padding: 3px;
    background-color: #afafaf;
    color: #fff;

    ::ng-deep * {
      color: #fff;
    }
  }

  iframe {
    width: 100%;
    height: 580px;
    border: 0;
  }

  .clickable {
    cursor: pointer;
  }
}

.highlighted {
  width: 800px;

  @media screen and (max-width: 1318px) {
    width: 100% !important;
  }
}

.important {
  border-top: 3px solid #ff6a00;

  header {
    color: #ff6a00;
  }

  .content {
    max-height: 154px !important;
  }
}

.reminder {
  border-top: 3px solid #86d300;

  header {
    color: #86d300;
  }

  .content {
    max-height: 154px !important;
  }
}

.news-icon {
  float: right;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-top: -5px;
}

.news-card--height-2 {
  height: 505px !important;
}

.news-complement {
  margin-bottom: 15px;

  .imageContainer {
    height: 242px !important;

    img {
      width: 100%;
    }
  }

  .dayContainer {
    text-align: center;
    padding-top: 79px;
    color: #035;

    .dayDate {
      font-size: 48px;
      font-weight: bold;
    }

    .monthDate {
      font-size: 24px;
    }
  }

  .docContainer {
    padding-top: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;

    img {
      margin: 20px 10px;
      vertical-align: middle;
    }

    .fileLink {
      font-size: 14px;
      font-weight: normal;
    }
  }
}
