<cbc-modal
  [title]="'label.import'"
  (ok)="import()"
  (cancelModal)="cancelWizard()"
  [okLabel]="'label.import'"
  [(visible)]="showModal"
  [(executing)]="importing"
  [executingLabel]="'label.importing'"
  [showOkButton]="!importing && importProfileForm.valid"
>
  <p> {{ 'profile.import.help' | transloco }} </p>
  <br />
  <form [formGroup]="importProfileForm">
    <div class="field">
      <label for="selectedProfile">{{ 'label.profile' | transloco }}</label>
      <div class="custom-select select--form reset-width select-align">
        <select
          name="selectedProfile"
          id="selectedProfile"
          formControlName="selectedProfile"
        >
          @for (profile of exportedProfiles; track profile.id) {
          <option value="{{ profile.id }}"
            >{{ profile.title | cbcI18n }}</option
          >
          }
        </select>
      </div>
    </div>
  </form>
</cbc-modal>
