<cbc-modal
  [visible]="showModal"
  [title]="'label.edit'"
  [okLabel]="'label.save'"
  (cancel)="cancel()"
  (ok)="save()"
  [executing]="updating"
  [executingLabel]="'label.updating'"
>
  <form [formGroup]="editTopicForm">
    <div class="field">
      <label for="name">{{ 'label.name' | transloco }}</label>
      <input
        type="text"
        id="name"
        value=""
        placeholder="{{ 'label.name' | transloco }}"
        formControlName="name"
      />
      <cbc-control-message [control]="nameControl"></cbc-control-message>
    </div>
  </form>
</cbc-modal>
