<section *ngIf="template" class="template">
  <aside class="side-information">
    <span class="label"
      >{{ 'admin.system.message.autoclose' | transloco }}:</span
    >
    {{ template.dateClosure | date: 'y MMMM d, H:mm' }}
    <br />
    <span class="label">{{ 'label.level' | transloco }}:</span>
    {{ template.level }}
    <br />
    <span class="label">{{ 'label.enabled' | transloco }}:</span>
    {{ template.enabled }}
    <br />
    <span class="label"
      >{{ 'admin.system.message.display.time' | transloco }}:</span
    >
    {{ template.displayTime }}
  </aside>

  <div class="template-content" [innerHTML]="template.content"> </div>

  <div class="actions">
    <a [routerLink]="['update', template.id]">{{ 'label.edit' | transloco }}</a>

    <cbc-inline-delete (deletionConfirmed)="onDelete()"></cbc-inline-delete>

    <span>
      &nbsp;|&nbsp; {{ 'admin.system.message.show.in.old' | transloco }} &nbsp;
      <a (click)="useAsOldMessage()">{{ 'label.apply' | transloco }}</a>
    </span>
  </div>
</section>
