<section class="box box--alternate-lines box--button limit-height">
  <header class="header">
    <span class="title"
      >{{ 'label.user.favourites' | transloco }} ({{ totalItems }})</span
    >
    <span class="icons">
      <img class="header-icon" src="img/star.png" alt="star.png" />
    </span>
  </header>
  <cbc-horizontal-loader *ngIf="loading"></cbc-horizontal-loader>
  <div class="main main--listing">
    <ul *ngIf="totalItems > 0" id="listOfFavourites">
      <li
        class="row"
        *ngFor="let favourite of pagedFavourites.data; trackBy: trackById"
      >
        <a (click)="openLink(favourite)">{{ favourite.name }}</a>
        <span class="favouriteType" *ngIf="isFile(favourite)"
          >{{ 'label.file' | transloco }}</span
        >
        <span class="favouriteType" *ngIf="!isFile(favourite)"
          >{{ 'label.folder' | transloco }}</span
        >
      </li>
      <li *ngIf="totalItems === 0" class="row">
        {{ 'label.nothing.to.display' | transloco }}
      </li>
    </ul>

    <div class="footer" *ngIf="isPagerVisible()">
      <cbc-pager
        [length]="totalItems"
        [pageSize]="listingOptions.limit"
        [pageIndex]="listingOptions.page"
        (pageChanged)="changePage($event)"
      ></cbc-pager>
    </div>
  </div>
</section>
