.request-container {
  margin-top: 25px;

  header {
    margin-bottom: 25px;
  }

  footer {
    margin-top: 25px;
  }

  .request-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 25px;
  }
}
