<cbc-modal
  [title]="'admin.category.create'"
  (cancelModal)="cancel()"
  [okLabel]="'label.create'"
  [(visible)]="showModal"
  [showOkButton]="isWizardOk()"
  (ok)="createCategory()"
  [executing]="processing"
  [executingLabel]="'label.creating'"
>
  <a
    tabindex="0"
    class="step-link"
    [class.step-link-selected]="step === 'details'"
    (click)="step = 'details'"
    >{{ 'label.details' | transloco }}</a
  >
  <a
    tabindex="0"
    data-cy="admins"
    class="step-link"
    [class.step-link-selected]="step === 'admins'"
    (click)="step = 'admins'"
    >{{ 'label.administrators' | transloco }}</a
  >

  @if (step === 'details') {
  <div class="div-step">
    <form [formGroup]="categoryForm">
      <div class="field">
        <label for="name">{{ 'label.name' | transloco }}</label>
        <input data-cy="name" type="text" id="name" formControlName="name" />
        @if (categoryForm) {
        <cbc-control-message [control]="nameControl"></cbc-control-message>
        }
      </div>
      <cbc-multilingual-input
        data-cy="title"
        formControlName="title"
        [label]="'label.title' | transloco"
        [lang]="'EN'"
      ></cbc-multilingual-input>
      @if (categoryForm) {
      <cbc-control-message [control]="titleControl"></cbc-control-message>
      }

      <div class="field">
        <label for="header">{{ 'label.header' | transloco }}</label>
        <div class="custom-select select--form">
          <select data-cy="headers" id="sMultiple" formControlName="header">
            @for (h of headers; track h.id) {
            <option value="{{ h.id }}">{{ h.name }}</option>
            }
          </select>
        </div>
        @if (categoryForm) {
        <cbc-control-message [control]="headerControl"></cbc-control-message>
        }
      </div>
    </form>
  </div>
  } @if (step === 'admins') {
  <div class="div-step">
    <form [formGroup]="addUserForm">
      <div class="field">
        <label for="name">{{ 'label.search' | transloco }}</label>
        <input
          type="text"
          id="name"
          value=""
          placeholder="User name / email / ..."
          formControlName="name"
        />
        <button data-cy="search-button" class="button" (click)="searchUsers()"
          >{{ 'label.search' | transloco }}</button
        >
        <a tabindex="0" (click)="resetForm()"
          >{{ 'label.clear' | transloco }}</a
        >
        @if (searchingUsers) {
        <cbc-spinner></cbc-spinner>
        }
      </div>

      <div class="field">
        <label for="sMultiple">{{ 'label.results' | transloco }}</label>
        <div
          class="custom-select select--multiple"
          style="width: 585px; height: 150px"
        >
          <select
            data-cy="users"
            multiple
            id="sMultiple"
            style="width: 585px; height: 150px"
            formControlName="possibleUsers"
          >
            @for (user of availableUsers; track user.userId) {
            <option value="{{ user.userId }}"
              >{{ user.firstname + ' ' + user.lastname + ' (' + user.email + ')'
              }}</option
            >
            }
          </select>
        </div>
      </div>

      <div class="field">
        <label for="sMultiple">{{ 'label.invitations' | transloco }}</label>
        @if (hasSelectedUser()) {
        <input
          data-cy="add-selection"
          type="button"
          value="{{ 'label.add.selection' | transloco }}"
          (click)="selectUsers()"
        />
        }
        <br />
        <br />
        <ul>
          @for (futureAdmin of futureAdmins; track futureAdmin.userId) {
          <li>
            {{ '[ Category Administrator ] ' + futureAdmin.firstname + ' ' +
            futureAdmin.lastname + ' (' + futureAdmin.email + ')' }}
            <a tabindex="0" (click)="removeFromFutureAdmin(futureAdmin)">
              <img
                src="img/icon-close-20x20.png"
                style="vertical-align: middle"
                alt="Close icon"
              />
            </a>
          </li>
          }
        </ul>
      </div>
    </form>
  </div>
  }
</cbc-modal>
