@if (isGuestAllowed()) {
<section
  class="box--message ui-message-show"
  style="width: 100%"
  [class.box--message--information]="severity() === 0"
  [class.box--message--warning]="severity() === 1"
  [class.box--message--error]="severity() === 2"
  [class.box--message--success]="severity() === 3"
>
  <div class="box--message--icon">
    @switch (severity()) { @case (0) {

    <img
      src="img/info-signs.png"
      class="img--info--size"
      alt="Information sign"
    />

    } @case (1) {

    <img
      src="img/exclamation.png"
      class="img--exclamation--size"
      alt="Exclamation mark"
    />

    } @case (2) {

    <img src="img/error-sign.png" class="img--error--size" alt="Error sign" />

    } @case (3) {

    <img src="img/check-mark.png" class="img--check--size" alt="Check mark" />

    } }
  </div>

  <div class="box--message--content"> {{ message() }} </div>
</section>
}
