<div class="summary-box">
  <section class="big-icon">
    @if (label() === 'uploads') {
    <img src="img/upload-white-64.png" alt="upload.png" />
    } @if (label() === 'updates') {
    <img src="img/update-white-64.png" alt="updates.png" />
    } @if (label() === 'comments') {
    <img src="img/chat-white-64.png" alt="comments.png" />
    }
  </section>
  <section class="content-top"> {{ number() }} </section>
  <section class="content-bottom">{{ 'label.' + label() | transloco }}</section>
</div>
