@import url('@angular/material/prebuilt-themes/deeppurple-amber.css');

:root {
  --theme-body-background: url(^img/background.jpg) no-repeat center top fixed;
  --theme-header-link: #468ec2;
  --theme-header-text: rgb(117 117 117 / 1);
  --theme-header-text-inbox: #132735;
  --theme-box-header-background: #rgb(255 255 255 / 0.5);
  --theme-box-background: #fff;
  --theme-menu: #fff;
  --theme-menu-hover: #f4fafe;
  --theme-link: rgb(0 51 85 / 1);
  --theme-link-hover: #000;
  --theme-h3: #035;
  --theme-table-alternative-lines: #eef5f4;
  --theme-table-container-backgroundcolor: #eef5f4;
  --theme-table-container-alt-row: #fff;
  --theme-timeline-header: #035;

  .mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #4caf50;
    --mdc-slider-focus-handle-color: #4caf50;
    --mdc-slider-hover-handle-color: #4caf50;
    --mdc-slider-active-track-color: #4caf50;
    --mdc-slider-inactive-track-color: #4caf50;
    --mdc-slider-with-tick-marks-active-container-color: #fff;
    --mdc-slider-with-tick-marks-inactive-container-color: #4caf50;
    --mat-mdc-slider-ripple-color: #4caf50;
    --mat-mdc-slider-hover-ripple-color: #4caf500d;
    --mat-mdc-slider-focus-ripple-color: #4caf5033;
  }

  .mat-mdc-radio-button.mat-accent {
    --mdc-radio-disabled-selected-icon-color: #000;
    --mdc-radio-disabled-unselected-icon-color: #000;
    --mdc-radio-unselected-focus-icon-color: #212121;
    --mdc-radio-unselected-hover-icon-color: #212121;
    --mdc-radio-unselected-icon-color: #0000008a;
    --mdc-radio-unselected-pressed-icon-color: #0000008a;
    --mdc-radio-selected-focus-icon-color: #3a8a3c;
    --mdc-radio-selected-hover-icon-color: #3a8a3c;
    --mdc-radio-selected-icon-color: #4caf50;
    --mdc-radio-selected-pressed-icon-color: #858585;
    --mat-mdc-radio-ripple-color: #000;
    --mat-mdc-radio-checked-ripple-color: #4caf50;
  }

  .mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #4caf50;
    --mdc-switch-selected-handle-color: #4caf50;
    --mdc-switch-selected-hover-state-layer-color: #4caf50;
    --mdc-switch-selected-pressed-state-layer-color: #4caf50;
    --mdc-switch-selected-focus-handle-color: #3a8a3c;
    --mdc-switch-selected-hover-handle-color: #3a8a3c;
    --mdc-switch-selected-pressed-handle-color: #3a8a3c;
    --mdc-switch-selected-focus-track-color: #62e066;
    --mdc-switch-selected-hover-track-color: #62e066;
    --mdc-switch-selected-pressed-track-color: #62e066;
    --mdc-switch-selected-track-color: #62e066;
  }
}

:root[theme='dark'] {
  --theme-body-background: #182737;
  --theme-header-link: #b8bec2;
  --theme-header-text: #b8bec2;
  --theme-header-text-inbox: #132735;
  --theme-box-header-background: #263f56;
  --theme-box-background: #ffffffcf;
  --theme-menu: #182737;
  --theme-menu-hover: #0d3c61;
  --theme-link: #468ec2;
  --theme-link-hover: #ffffffcf;
  --theme-h3: #b8bec2;
  --theme-table-alternative-lines: #b8bec2;
  --theme-table-container-backgroundcolor: #0b1017;
  --theme-table-container-alt-row: #111c2a;
  --theme-timeline-header: #b8bec2;

  .mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: #4caf50;
    --mdc-slider-focus-handle-color: #4caf50;
    --mdc-slider-hover-handle-color: #4caf50;
    --mdc-slider-active-track-color: #4caf50;
    --mdc-slider-inactive-track-color: #4caf50;
    --mdc-slider-with-tick-marks-active-container-color: #fff;
    --mdc-slider-with-tick-marks-inactive-container-color: #4caf50;
    --mat-mdc-slider-ripple-color: #4caf50;
    --mat-mdc-slider-hover-ripple-color: #4caf500d;
    --mat-mdc-slider-focus-ripple-color: #4caf5033;
  }

  .mat-mdc-radio-button.mat-accent {
    --mdc-radio-disabled-selected-icon-color: #000;
    --mdc-radio-disabled-unselected-icon-color: #000;
    --mdc-radio-unselected-focus-icon-color: #212121;
    --mdc-radio-unselected-hover-icon-color: #212121;
    --mdc-radio-unselected-icon-color: #0000008a;
    --mdc-radio-unselected-pressed-icon-color: #0000008a;
    --mdc-radio-selected-focus-icon-color: #3a8a3c;
    --mdc-radio-selected-hover-icon-color: #3a8a3c;
    --mdc-radio-selected-icon-color: #4caf50;
    --mdc-radio-selected-pressed-icon-color: #858585;
    --mat-mdc-radio-ripple-color: #000;
    --mat-mdc-radio-checked-ripple-color: #4caf50;
  }

  .mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #4caf50;
    --mdc-switch-selected-handle-color: #4caf50;
    --mdc-switch-selected-hover-state-layer-color: #4caf50;
    --mdc-switch-selected-pressed-state-layer-color: #4caf50;
    --mdc-switch-selected-focus-handle-color: #3a8a3c;
    --mdc-switch-selected-hover-handle-color: #3a8a3c;
    --mdc-switch-selected-pressed-handle-color: #3a8a3c;
    --mdc-switch-selected-focus-track-color: #62e066;
    --mdc-switch-selected-hover-track-color: #62e066;
    --mdc-switch-selected-pressed-track-color: #62e066;
    --mdc-switch-selected-track-color: #62e066;
  }
}

.mat-mdc-tab-header {
  --mat-tab-header-label-text-font: variables-mixins-keyframes.$standardText;
  --mat-tab-header-label-text-size: 14px;
  --mat-tab-header-label-text-tracking: 0.08em;
  --mat-tab-header-label-text-line-height: 36px;
  --mat-tab-header-label-text-weight: 500;
  --mdc-secondary-navigation-tab-container-height: 30px;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mat-tab-header-disabled-ripple-color: #00000061;
  --mat-tab-header-pagination-icon-color: black;
  --mat-tab-header-inactive-label-text-color: #0009;
  --mat-tab-header-active-label-text-color: #3a8a3c;
  --mat-tab-header-active-ripple-color: #3a8a3c;
  --mat-tab-header-inactive-ripple-color: #3a8a3c;
  --mat-tab-header-inactive-focus-label-text-color: #0009;
  --mat-tab-header-inactive-hover-label-text-color: #0009;
  --mat-tab-header-active-focus-label-text-color: #3a8a3c;
  --mat-tab-header-active-hover-label-text-color: #3a8a3c;
  --mat-tab-header-active-focus-indicator-color: #3a8a3c;
  --mat-tab-header-active-hover-indicator-color: #62e066;
  --mdc-tab-indicator-active-indicator-color: #3a8a3c;
}

.mdc-tooltip__surface {
  max-width: 350px !important;
  white-space: pre-line;
}

.mdc-tab__text-label {
  color: unset !important;
  letter-spacing: 0;
}

.mat-mdc-tab.mdc-tab--active {
  color: unset !important;
  font-weight: bold;
}
