.deletingBox {
  margin-top: 25px;

  progress {
    width: 100%;
  }
}

.listOfNodes {
  max-height: 200px;
  overflow: auto;

  ul {
    li {
      padding: 5px 0;
      border-top: 1px solid #ececec;

      &:first-child {
        border-top: 0;
      }
    }
  }
}
