<cbc-modal
  [title]="'label.add'"
  (ok)="addPermissions()"
  (cancel)="cancelWizard()"
  [okLabel]="'label.add'"
  [(visible)]="showModal"
  [(executing)]="adding"
  [executingLabel]="'label.adding'"
  [showOkButton]="isShowAddButton()"
>
  <form [formGroup]="newPermissionsForm">
    <p> {{ 'permissions.selection.explanation' | transloco }} </p>
    <cbc-users-picker
      [igId]="ig"
      formControlName="invitedUsersOrProfiles"
      [showSelectedList]="false"
      (afterSelectionMade)="assign()"
      [displayGuestRegistered]="true"
    ></cbc-users-picker>
  </form>
  <p>
    {{ 'permissions.future.configuration' | transloco }}
    <a (click)="toggleHelp()">
      <img src="img/icon-help-blue.png" />
    </a>
  </p>
  <table class="authorityTable">
    <thead>
      <tr>
        <th>{{ 'label.who' | transloco }}</th>
        <th>{{ 'label.permission' | transloco }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pair of configModel">
        <td>
          <span class="authorityName"
            >{{ getAuthorityDisplay(pair.authValue.authority) }}</span
          >
        </td>
        <td>
          <cbc-inline-select
            [values]="options"
            [value]="pair.authValue.permission"
            [translationPrefix]="'permissions'"
            (selectionChanged)="updateModel(pair.authKey, $event)"
          ></cbc-inline-select>
        </td>
        <td>
          <a
            (click)="removePerm(pair.authKey)"
            title="{{ 'label.delete' | transloco }}"
          >
            <img src="img/icon-close-20x20.png" width="16" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div
    class="help-layout"
    [@helpLayoutVisibility]="showHelpLayout ? 'active' : 'inactive'"
  >
    <h2>{{ 'label.help' | transloco }}</h2>
    <h3>{{ 'permissions.more.information.title' | transloco }}</h3>

    <dl *ngIf="node && node.service === 'library'">
      <dt>{{ 'permissions.LibNoAccess' | transloco }}</dt>
      <dd>{{ 'permissions.LibNoAccess.help' | transloco }}</dd>
      <dt>{{ 'permissions.LibAccess' | transloco }}</dt>
      <dd>{{ 'permissions.LibAccess.help' | transloco }}</dd>
      <dt>{{ 'permissions.LibEditOnly' | transloco }}</dt>
      <dd>{{ 'permissions.LibEditOnly.help' | transloco }}</dd>
      <dt *ngIf="!isContent()">{{ 'permissions.LibManageOwn' | transloco }}</dt>
      <dd *ngIf="!isContent()"
        >{{ 'permissions.LibManageOwn.help' | transloco }}</dd
      >
      <dt>{{ 'permissions.LibFullEdit' | transloco }}</dt>
      <dd>{{ 'permissions.LibFullEdit.help' | transloco }}</dd>
      <dt>{{ 'permissions.LibAdmin' | transloco }}</dt>
      <dd>{{ 'permissions.LibAdmin.help' | transloco }}</dd>
    </dl>

    <div class="actions">
      <a class="button" (click)="toggleHelp()"
        >{{ 'label.close' | transloco }}</a
      >
    </div>
  </div>
</cbc-modal>
