@use '~css/global/variables-mixins-keyframes';

.flex-calendar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .day {
    .events {
      width: 100%;

      a.empty-events {
        display: none;
        cursor: pointer;
        width: 100%;
        text-align: center;
        vertical-align: middle;
      }
    }

    &:hover {
      .events {
        a.empty-events {
          display: block;
        }
      }
    }
  }
}

.flex-day {
  width: 13.3% !important;

  @media screen and (max-width: variables-mixins-keyframes.$break-medium) {
    width: 47% !important;
  }

  @media screen and (max-width: variables-mixins-keyframes.$break-small) {
    width: 100% !important;
  }
}

.left-popup {
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 8px rgb(0 0 0 / 0.3);
  width: 385px;
  position: absolute;
  top: 0;
  z-index: 1;
  margin-bottom: 30px;

  .title {
    font-family: Ubuntu, Verdana, Helvetica, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: #5b5b5b;
  }

  &::after {
    content: '';
    width: 17px;
    height: 52px;
    position: absolute;
    top: 25px;
    right: -17px;
    background: url(^img/popup-arrow-right-grey.png) no-repeat;
  }
}

.left-popup--calendar {
  left: -390px;
  box-shadow: 0 0 20px rgb(0 0 0 / 0.4);

  .events-of-the-day {
    padding: 15px;
    background: #f5fafa;
    overflow-y: scroll;
    max-height: 300px;
    border-top: 1px solid #e1e3e8;
    border-radius: 0 0 3px 3px;
    min-height: 280px;

    &::-webkit-scrollbar {
      width: 14px;
      height: 18px;
    }

    &::-webkit-scrollbar-thumb {
      height: 6px;
      border: 4px solid transparent;
      -webkit-border-radius: 7px;
      background-color: rgb(0 0 0 / 0.15);
      background-clip: padding-box;
      -webkit-box-shadow: inset -1px -1px 0 rgb(0 0 0 / 0.05),
        inset 1px 1px 0 rgb(0 0 0 / 0.05);
    }

    &::-webkit-scrollbar-button {
      display: none;
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    .events {
      margin-top: 15px;
    }
  }

  .event {
    margin: 7px 0;

    .hour {
      display: block;
      color: #0070bb;
      min-width: 50px;
      font-size: 12px;
      float: left;
      position: relative;
      top: 2px;
    }

    .event-name {
      color: #035;
      font-size: 14px;
      display: block;
      margin-left: 50px;
      margin-bottom: 6px;
    }

    .details {
      margin-left: 50px;

      p {
        color: #757575;
        margin: 0;
        margin-bottom: 6px;
        font-size: 13px;
      }

      .duration,
      .location,
      .abstract,
      .repetition {
        display: inline-block;
        margin-right: 15px;
        font-size: 12px;
        color: #b3b3b1;
        margin-bottom: 6px;

        &::before {
          content: '';
          display: inline-block;
          vertical-align: bottom;
          margin-right: 5px;
          width: 16px;
          height: 16px;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }

      .duration::before {
        background-image: url(^img/icon-clock.png);
      }

      .location::before {
        background-image: url(^img/icon-location.png);
      }

      .repetition::before {
        background-image: url(^img/icon-repetition.png);
      }

      .abstract::before {
        background-image: url(^img/open-book-top-view-C4C6C4.png);
      }
    }
  }
}

.event-line {
  margin-bottom: 0;
  font-size: 11px;
}

.div-spinner {
  margin-right: 0;
  font-size: small;
  float: right;
  padding-top: 3px;
}

.padding-spinner-text {
  padding-right: 10px;
}

.field label {
  width: unset !important;
}

.view-select {
  width: 80px;
  height: 25px;
}

.select--form select {
  width: 100px;
  height: 25px;
  padding-top: 0;
  padding-bottom: 1px;
  padding-left: 10px;
}

.field-select {
  margin-bottom: 0;
  font-size: 13px;
  float: right;
  color: #757575;
}

.field-in-date {
  width: 150px;
  padding: 0;
  font-size: 13px;
  float: right;
  height: 25px;
  margin-right: 10px;
  padding-left: 10px;
}

.apply-button {
  float: right;
  height: 24px;
  padding-top: 3px;
  margin-right: 10px;
}

.field {
  float: right;
  margin-bottom: 0;
}
