<!-- MODAL BOX -->
<div
  class="black-overlayer"
  *ngIf="showModal"
  [class.overlayer-shown]="showModal"
  [class.overlayer-hidden]="!showModal"
></div>
<section
  class="modal"
  *ngIf="showModal"
  [class.modal-shown]="showModal"
  [class.modal-hidden]="!showModal"
  style="margin-top: 0"
>
  <a class="close-icon" (click)="cancel('close')"></a>
  <header>
    <h2 class="title">{{ 'label.refuse.post' | transloco }}</h2>
  </header>

  <section class="modal-content">
    <div class="wrapping">
      <form [formGroup]="rejectPostForm">
        <div class="field">
          <label for="rejectReason"
            >{{ 'label.reject.reason' | transloco }}</label
          >
          <textarea id="rejectReason" formControlName="rejectReason"></textarea>
        </div>
      </form>
      <div class="field" *ngIf="executing">
        <label
          >{{ 'label.running' | transloco }}... <cbc-spinner></cbc-spinner
        ></label>
      </div>
    </div>
  </section>

  <section class="modal-footer">
    <!-- Buttons -->
    <div class="buttons-group" *ngIf="!executing">
      <a class="cta" (click)="accept()">{{ 'label.reject' | transloco }}</a>
      <a class="button" (click)="cancel('close')"
        >{{ 'label.cancel' | transloco }}</a
      >
    </div>
  </section>
</section>
