<section class="box box--alternate-lines box--two-button">
  <header class="header">
    <span class="title">My tasks</span>
    <span class="icons">
      <a [routerLink]="['.']"
        ><img src="img/icon-help-blue.png" alt="Help"
      /></a>
    </span>
  </header>
  <div class="main main--listing">
    <ul>
      <li class="row">Nothing to do</li>
    </ul>
  </div>
  <div class="footer">
    <a class="footer__button" [routerLink]="['.']">Add a task</a>
    <a class="footer__button" [routerLink]="['.']">Show all tasks</a>
  </div>
</section>
