<section class="box">
  <div class="index">{{ property().index }}</div>
  <div class="type">{{ property().propertyType }}</div>
  {{ 'label.title' | transloco }}: @for (entry of titleAsArray(); track
  entry.lang) {
  <cbc-title-tag [entry]="entry"></cbc-title-tag>
  } @if (isSelection()) {
  <div class="possibleValues">
    {{ 'label.values' | transloco }}: @for (val of property().possibleValues;
    track val) {
    <span>{{ val }}</span>
    }
  </div>
  }
  <div class="actions">
    <a tabindex="0" (click)="bubbleDynpropEdit()"
      >{{ 'label.edit' | transloco }}</a
    >
    <a tabindex="0" (click)="bubbleDynpropDeleted()"
      >{{ 'label.delete' | transloco }}</a
    >
  </div>
</section>
